<template>
  <div class="cover">
    <div class="col s12">
      <label class="alwaysactive">{{label}}</label>
    </div>
    <div
      class="input-field new-account-input col"
      ref="self"
      :class="{'disable-input-field': disabled}"
    >
      <div
        v-for="(account,index) in (multiple == 'false' && value ? [value]: value)"
        :key="index"
        class="deletable_box"
      >
        <span class="name_area" :class="{'radius-right': disabled}">
          <img v-if="account.iconUrl" :src="account.iconUrl" class="icon_image" />
          <span>{{account.name}}</span>
        </span>
        <button
          v-if="!disabled"
          class="waves-effect waves-light btn"
          @click="accountDisselected(account)"
        >
          <i class="material-icons">clear</i>
        </button>
      </div>
      <input
        v-if="!disabled && (multiple != 'false' || (!value || value.length == 0))"
        :id="_uid+'accountInput'"
        type="text"
        class="validate account-input"
        :class="{'radius-right': disabled}"
        data-target="accounts-drop"
        @keyup="accountInputChanged(name = $event.target.value)"
        :value="name"
        autocomplete="off"
        ref="accountInput"
      />
    </div>
    <ul
      v-if="candidateAccounts.length!=0"
      class="dropdown-hide"
      :class="{'dropdown-show': candidateAccounts.length!=0}"
    >
      <li
        v-for="(account, index) in candidateAccounts"
        :key="index"
        @click="candidateAccountChoiced(account)"
      >
        <img v-if="account.iconUrl" :src="account.iconUrl" class="icon_image" />
        <span>{{account.name}}</span>
      </li>
    </ul>
    <button
      v-if="!disabled"
      class="waves-effect waves-light btn col account-appends-button"
      @click="accountSelected"
      :disabled="!candidateAccount"
    >
      <i class="material-icons left">{{multiple=='false' ? 'person':'person_add'}}</i>
      {{buttonLabel}}
    </button>
  </div>
</template>
<script>
import { loadAccountsByNameLike } from "../js/model/Account";
export default {
  props: [
    "value",
    "sourceAccouts",
    "ignores",
    "label",
    "buttonLabel",
    "accounts",
    "disabled",
    "multiple"
  ],
  computed: {},
  data() {
    return {
      name: "",
      candidateAccounts: [],
      candidateAccount: null
    };
  },
  methods: {
    async accountInputChanged(name) {
      if (!name || name.length < 3) {
        this.candidateAccounts = [];
        return;
      }
      if (this.candidateAccount && this.candidateAccount.name == this.name) {
        this.candidateAccounts = [];
        return;
      }
      this.candidateAccount = null;
      if (this.sourceAccouts) {
        this.candidateAccounts = this.sourceAccouts.filter(
          a => a && a.name && a.name.indexOf(this.name) >= 0
        );
      } else {
        this.candidateAccounts = await loadAccountsByNameLike(name);
      }
      if (this.ignores) {
        this.candidateAccounts = this.candidateAccounts.filter(
          a => !this.ignores.some(ia => ia && ia.name == a.name)
        );
      }
      if (
        this.candidateAccounts &&
        this.candidateAccounts.length == 1 &&
        this.candidateAccounts[0].name == name
      ) {
        this.candidateAccount = this.candidateAccounts[0];
        this.candidateAccounts = [];
      }
    },
    candidateAccountChoiced(account) {
      this.candidateAccount = account;
      this.name = this.candidateAccount.name;
      this.candidateAccounts = [];
      this.accountSelected();
    },
    accountSelected() {
      if (!this.candidateAccount) {
        return;
      }
      this.$emit("selected", this.candidateAccount);
      this.candidateAccount = null;
      this.name = null;
      this.$refs.accountInput.focus();
    },
    accountDisselected(account) {
      this.$emit("disselected", account);
    }
  }
};
</script>
<style scoped>
.cover {
  position: relative;
}
.account-input {
  margin-bottom: 0;
  border-bottom: 0px solid #4caf50;
  -webkit-box-shadow: 0 0 0 0 #4caf50;
  box-shadow: 0 0 0 0 #4caf50;
}
ul {
  position: absolute;
  top: 36px;
  left: 0px;
  z-index: 9999;
}
li {
  padding: 5px 20px;
  background-color: white;
}
li:hover {
  cursor: pointer;
}
li + li {
  border-top: 1px solid #999;
}
.dropdown-hide {
  border: 1px solid #999;
  display: none;
  margin: 0px;
  border-radius: 3px;
  overflow: hidden;
}
.dropdown-show {
  display: inline-block;
}

.new-account-input {
  display: flex;
  width: calc(100% - 100px);
  height: 36px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  overflow: scroll;
}
.account-appends-button {
  width: 100px;
}
.new-account-input input {
  margin-top: 4px;
  height: 36px;
  border: 0px;
  min-width: 100px;
}
.new-account-input label {
  font-size: 0.5rem;
}
button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.deletable_box {
  margin: 4px 2px;
  display: inline-block;
  white-space: nowrap;
}
.deletable_box .name_area {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  height: 26px;
  box-sizing: border-box;
  padding: 0 5px;
  display: inline-block;
}
.radius-right {
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}
.deletable_box button {
  height: 26px !important;
  margin: 0;
  margin-left: -5px;
  padding: 0;
}
.deletable_box button i {
  line-height: 26px;
}
.icon_image {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  vertical-align: middle;
}
</style>