<template>
  <div style="height:100%;">
    <router-view />
    <modal />
  </div>
</template>
<script>
import Modal from "./Modal";
export default {
  components: { Modal }
};
</script>
<style>
html,
body {
  height: 100%;
}
.input-field > label:not(.label-icon).active {
  transform: translateY(-17px) scale(0.8);
}
.material-icons {
  vertical-align: middle;
}

h2 {
  font-size: 1.2em;
  color: var(--main-color);
  margin: 0 0 20px 0;
}
.input-field {
  background-color: white;
  border-radius: 4px;
  border: rgb(162, 165, 162) 1px solid;
  margin-top: 0;
}
.input-field.invalid {
  border: #f33 1px solid;
}
.input-field.col label.alwaysactive {
  -webkit-transform: translateY(8px) scale(0.8) !important;
  transform: translateY(8px) scale(0.8) !important;
  top: -26px;
  -webkit-transform-origin: 0 100% !important;
  transform-origin: 0 100% !important;
}
.disable-input-field {
  background: none;
  border: none;
}
.disable-input {
  color: #333 !important;
}
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular");
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.head {
  background-color: var(--main-background-color);
  color: var(--basic-front-color);
  height: 40px;
  margin-bottom: 0;
}
.head .title {
  padding-left: 10px;
  line-height: 40px;
  font-size: 16px;
  font-family: "Charmonman", cursive;
  float: left;
}
.head .title-image {
  height: 30px;
  margin-top: 5px;
  float: left;
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
</style>