<template>
  <div class="arrow-down" :class="{active: toggle}" @click="click"></div>
</template>
<script>
export default {
  props: ["active"],
  data() {
    return {
      toggle: false
    };
  },
  methods: {
    click() {
      this.toggle = !this.toggle;
      this.$emit("click");
    }
  },
  beforeMount() {
    this.toggle = this.active;
  }
};
</script>
<style>
.arrow-down {
  position: relative;
}
.arrow-down:before,
.arrow-down:after {
  content: "";
  display: block;
  width: 60%;
  height: 10%;
  background: var(--main-front-color);
  position: absolute;
  transition: transform 0.5s;
} /*42.42%*/
.arrow-down:before {
  top: 8%;
  right: 29%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transform: rotate(45deg);
}
.arrow-down:after {
  top: 50%;
  right: 29%;
  transform: rotate(135deg);
}
.arrow-down.active:before {
  transform: rotate(135deg);
}
.arrow-down.active:after {
  transform: rotate(45deg);
}
</style>