<template>
  <div v-if="account" class="all_pane" @click="hideTitleDropdown">
    <div class="row head">
      <div class="col s9 clearfix">
        <img class="title-image" src="/images/frat_icon.png" />
        <div class="title">fRat</div>
      </div>
      <div class="col s3 right-align">
        <a
          class="dropdown-trigger header_dropdown_toggle"
          :class="{active: showDropdown}"
          data-target="title-drop"
          @click.prevent="toggleTitleDropdown"
        >
          <img v-if="account.iconUrl" :src="account.iconUrl" class="title_icon_image" />
          <span>{{account.name}}</span>
          <i class="material-icons">arrow_drop_down</i>
        </a>
        <!-- Dropdown Structure -->
        <ul
          v-if="showDropdown"
          id="title-drop"
          class="dropdown-content header_dropdown"
          :class="{'toggle-show': showDropdown}"
        >
          <li>
            <a id="accountSettingDropdown" href="#" @click="route($event, '/account')">
              <i class="material-icons">person</i>
              <span>{{$t("account.setting")}}</span>
            </a>
          </li>
          <li v-if="tenant && tenant.selfRelation && tenant.selfRelation.role == 'OWNER'">
            <a id="settingSpace" href="#" @click="route($event, '/space')">
              <i class="material-icons">supervised_user_circle</i>
              <span>{{$t("tenant.manage")}}</span>
            </a>
          </li>
          <li class="divider" tabindex="-1"></li>
          <li v-if="tenant && tenant.isSystemAdmin">
            <a id="systemMaintenance" href="#" @click="route($event, '/tenantAdmin')">
              <i class="material-icons">settings_brightness</i>
              <span>{{$t("tenant.systemMaintenance")}}</span>
            </a>
          </li>
          <li class="divider" tabindex="-1"></li>
          <li>
            <a id="toTerms" href="#" @click="open($event, '//frat.work/jp/terms/')">
              <i class="material-icons">list</i>
              <span>{{$t("terms")}}</span>
            </a>
          </li>
          <li>
            <a
              id="toPrivacyPolicy"
              href="#"
              @click="open($event, '//frat.work/jp/privacy_policy/')"
            >
              <i class="material-icons">local_parking</i>
              <span>{{$t("privacyPolicy")}}</span>
            </a>
          </li>
          <li>
            <a id="toManual" href="#" @click="open($event, '//frat.work/jp/0.scrum_and_frat/')">
              <i class="material-icons">desktop_mac</i>
              <span>{{$t("manual.manual")}}</span>
            </a>
          </li>
          <li class="divider" tabindex="-1"></li>
          <li>
            <a id="logoutDropdown" href="#" @click="logout">
              <i class="material-icons">forward</i>
              <span>{{$t("logout.logout")}}</span>
            </a>
          </li>
        </ul>
        <a
          class="dropdown-trigger header_dropdown_toggle notify_icon"
          :class="{notificationActive: showDropdown}"
          data-target="title-drop"
          @click="toggleNotification"
        >
          <span>&nbsp;</span>
          <i class="material-icons notificationIcon">notifications_none</i>
        </a>
      </div>
    </div>
    <div class="content">
      <div class="group_menu">
        <div
          v-for="group in groups"
          :key="group.id"
          class="group_button"
          :class="{group_button_borderd: isShowingGroup(group)}"
        >
          <router-link
            :to="group.key ? '/group/'+group.key : '/'"
            :target-group-key="group.key ? 'group_' + group.key :'self'"
            :data-target="'groupDropDown'+group.id"
            :class="{'dropdown-trigger2': !group.isSelf}"
          >
            <img
              v-if="group.iconUrlForDownload || group.iconUrl"
              class="group-self-img"
              :src="group.iconUrlForDownload || group.iconUrl"
            />
            <generated-icon v-if="!group.iconUrlForDownload && !group.iconUrl" :value="group.name" />
          </router-link>
          <ul v-if="!group.isSelf" :id="'groupDropDown'+group.id" class="dropdown-content right">
            <li class="menu_home">
              <router-link :to="group.key ? '/group/'+group.key : '/'">
                <i class="material-icons">home</i>
                <span>{{group.name}}</span>
              </router-link>
            </li>
            <li v-for="(menu , index) in createGroupContentMenu(group)" :key="index">
              <router-link :class="menu.id" :to="menu.path">
                <i class="material-icons">{{menu.iconName}}</i>
                <span>{{menu.name()}}</span>
              </router-link>
            </li>
            <li class="divider" tabindex="-1"></li>
            <li class="menu_leave_group" @click="leaveGroup(group)">
              <a href="#">
                <i class="material-icons">directions_run</i>
                <span>{{$t("group.leave")}}</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="group_button group_add" @click="openAddGroupModal">
          <i class="material-icons group_add_button">add</i>
        </div>
      </div>
      <router-view class="main_content" :key="$route.fullPath" />
    </div>
    <div id="notificationArea" class="notification" :class="{notificationOpen:showNotification}">
      <div class="notificationTitle">
        <span>{{$t("notification")}}</span>
        <i class="material-icons" @click="toggleNotification">chevron_right</i>
      </div>
      <div v-for="(notification, index) in notifications" :key="index" class="notificationInner">
        <a :href="notification.url" @click="open($event, notification.url)">
          <div class="notificationInnerTitle">{{notification.key}}: {{notification.title}}</div>
          <div>{{notification.event}}</div>
        </a>
      </div>
    </div>
    <div id="warningArea" class="warning" :class="{warningOpen:warningMessage}">{{warningMessage}}</div>
  </div>
</template>
<script>
import Vue from "vue";
import * as Account from "../js/model/Account";
import * as Group from "../js/model/Group";
import ArrowToggle from "./ArrowToggle";
import * as Tenant from "../js/model/Tenant";
import GeneratedIcon from "./GeneratedIcon";
import ContextMenu from "vue-context-menu";
const LOCALSTORAGE_KEY_HIDEMENU = "showMenu";
if (!localStorage[LOCALSTORAGE_KEY_HIDEMENU]) {
  localStorage[LOCALSTORAGE_KEY_HIDEMENU] = "false";
}
export default {
  components: { ArrowToggle, GeneratedIcon, ContextMenu },
  props: ["groupId"],
  data() {
    return {
      account: null,
      tenant: null,
      showDropdown: false,
      showMenu: localStorage[LOCALSTORAGE_KEY_HIDEMENU] == "false",
      selfGroups: null,
      groups: [],
      currentGroup: null,
      menus: [],
      updateTodoToastListener: null,
      deleteTodoSocketListener: null,
      updateTodoProgressToastListener: null,
      sortedToastListener: null,
      newMessageToastListener: null,
      showNotification: false,
      notifications: [],
      warningMessage: null
    };
  },
  methods: {
    toggleTitleDropdown(e) {
      e.prevented = true;
      this.showDropdown = !this.showDropdown;
    },
    hideTitleDropdown(e) {
      if (!e.prevented) {
        this.showDropdown = false;
      }
    },
    route(event, path) {
      this.toggleTitleDropdown(event);
      this.$router.push(path);
      event.preventDefault();
    },
    open(event, href) {
      event.prevented = true;
      this.showDropdown = false;
      event.preventDefault();
      const win = window.open(href, "_blank", "noopener");
      win.opener = null;
      win.location = href;
    },
    logout(event) {
      this.account = null;
      this.$router.push("/logout");
      event.preventDefault();
    },
    isShowingGroup(group) {
      if (group && (this.groupId == group.id || this.groupId == group.key)) {
        return true;
      } else if ((!group || !group.id) && !this.groupId) {
        return true;
      }
      return false;
    },
    homeName() {
      return this.currentGroup ? this.currentGroup.name : this.$t("home.home");
    },
    async openAddGroupModal() {
      var openGroups = await Group.getOpenGroup();
      var notJoinGroup = openGroups.filter(
        g => !this.selfGroups.some(sg => sg.id == g.id)
      );
      //TODO
      const groupCreatable = this.tenant.groupCountLimit > openGroups.length;
      this.$dialog.$emit("open", { groups: notJoinGroup, groupCreatable });
    },
    async leaveGroup(group) {
      await Group.leave(group.id);
      //force reload for reset socket.
      location.href = "/";
    },
    async initGroup() {
      this.selfGroups = await Group.loadSelfGroups();
      await Promise.all(
        this.selfGroups
          .filter(g => g.iconUrl)
          .map(async g => {
            return new Promise(async res => {
              g.iconUrlForDownload = (
                await Group.getFileDownloadUrl(g.id, g.iconUrl)
              ).url;
              res();
            });
          })
      );
      this.groups = [
        {
          name: this.account.name,
          iconUrl: this.account.iconUrl,
          isSelf: true
        },
        ...this.selfGroups
      ];
      if (this.groupId) {
        this.currentGroup = this.groups.find(
          g => g.id == this.groupId || g.key == this.groupId
        );
        if (!this.currentGroup) {
          this.$router.push("/");
        }
      }
    },
    createGroupContentMenu(group) {
      return [
        {
          id: "menu_new_todo",
          name: () => this.$t("newTodo"),
          iconName: "add_circle",
          path: group ? `/group/${group.key}/ticket/new` : "/ticket/new",
          vIf: () => !group || group.type != "VIEWER"
        },
        {
          id: "menu_search",
          name: () => this.$t("todo.search"),
          iconName: "search",
          path: `/group/${group.key}/searchTodo`,
          vIf: group
        },
        {
          id: "menu_wiki",
          name: () => this.$t("wiki.wiki"),
          iconName: "view_headline",
          path: `/group/${group.key}/wiki`,
          vIf: group
        },
        {
          id: "menu_group_setting",
          name: () => this.$t("group.manage"),
          iconName: "settings",
          path: `/group/${group.key}/setting`,
          vIf: () => group && !(group && group.type == "VIEWER")
        }
      ];
    },
    toggleNotification(e) {
      e.preventDefault();
      this.showNotification = !this.showNotification;
    }
  },
  async beforeMount() {
    try {
      this.account = await Account.getAccount();
      this.tenant = await Tenant.loadTenant();
    } catch (ignore) {
      Account.clearCache();
      this.$router.push("/landing");
      return;
    }
    this.$event.$on("reload-group", async () => {
      this.initGroup();
    });
    await this.initGroup();
  },
  async mounted() {
    setTimeout(() => {
      var elems = document.querySelectorAll(".group_button");
      elems.forEach(function(elem) {
        if (!elem.getElementsByTagName("ul")[0]) {
          return;
        }
        var group_menu = document.getElementsByClassName("group_menu")[0];
        elem.addEventListener("mouseover", () => {
          var top = elem.offsetTop - group_menu.scrollTop;
          const over =
            top +
            elem.getElementsByTagName("ul")[0].offsetHeight -
            document.body.offsetHeight;
          if (over > 0) {
            top -= over;
          }
          elem.getElementsByTagName("ul")[0].style.top = top + "px";
        });
        elem.addEventListener("click", () => {
          elem.getElementsByTagName("ul")[0].style.top = "99999px";
        });
      });
      if (this.$route.query.firstLogin) {
        this.openAddGroupModal();
      }
    }, 1000);
  },
  async created() {
    var timeoutFook = null;
    Vue.prototype.$warn = message => {
      this.warningMessage = message;
      if (timeoutFook) {
        clearTimeout(timeoutFook);
      }
      timeoutFook = setTimeout(() => {
        this.warningMessage = null;
      }, 5000);
    };
    const handleEvent = (eventKind, message) => {
      const event = window.toastListener(eventKind, message);
      this.notifications.unshift(event);
    };
    this.updateTodoToastListener = m => {
      handleEvent("UPDATE_TODO", m);
    };
    this.deleteTodoSocketListener = m => {
      handleEvent("DELETE_TODO", m);
    };
    this.updateTodoProgressToastListener = m => {
      handleEvent("UPDATE_TODO_PROGRESS", m);
    };
    this.sortedToastListener = m => {
      handleEvent("SORTED", m);
    };
    this.newMessageToastListener = m => {
      handleEvent("NEW_MESSAGE", m);
    };

    this.$socket.on("UPDATE_TODO", this.updateTodoToastListener);
    this.$socket.on("DELETE_TODO", this.deleteTodoSocketListener);
    this.$socket.on(
      "UPDATE_TODO_PROGRESS",
      this.updateTodoProgressToastListener
    );
    this.$socket.on("SORTED", this.sortedToastListener);
    this.$socket.on("NEW_MESSAGE", this.newMessageToastListener);
  },
  async beforeDestroy() {
    this.$socket.off("UPDATE_TODO", this.updateTodoToastListener);
    this.$socket.off("DELETE_TODO", this.deleteTodoSocketListener);
    this.$socket.off(
      "UPDATE_TODO_PROGRESS",
      this.updateTodoProgressToastListener
    );
    this.$socket.off("SORTED", this.sortedToastListener);
    this.$socket.off("NEW_MESSAGE", this.newMessageToastListener);
  },
  watch: {
    groupId(id) {
      if (this.groups && id) {
        this.currentGroup = this.groups.find(g => g.id == id || g.key == id);
      }
    }
  }
};
</script>
<style>
:root {
  --main-color: #8a8;
  --main-front-color: white;
  --basic-front-color: rgba(0, 0, 0, 0.87);
  --impressive-color: #252;
  --very-impressive-color: #26a69a;
  --main-background-color: #f6f6f6;
  --error-text-color: red;
  --todo-in-box-color: white;
}
html {
  font-size: 14px;
  color: var(--basic-front-color);
  overflow: hidden;
}
[v-cloak] {
  display: none;
}
.btn,
.btn-large,
.btn-small {
  background-color: var(--very-impressive-color);
}
::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}
.header_dropdown_toggle {
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
  text-align: center;
  color: var(--basic-front-color);
  letter-spacing: 0.5px;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

.header_dropdown_toggle i {
  transition: all 0.2s ease-out;
}
.header_dropdown_toggle.active i {
  transform: rotate(180deg);
}
.material-icons {
  margin-top: -4px;
}
.btn .material-icons,
.btn-large .material-icons,
.btn-small .material-icons,
.btn-floating .material-icons,
.btn-large .material-icons,
.btn-small .material-icons,
.btn-flat .material-icons {
  margin-top: 0px;
}
.all_pane {
  height: 100%;
}
.toggle-show {
  display: block;
  left: auto;
  top: auto;
  height: auto;
  transform-origin: 0px 100%;
  opacity: 1;
  transform: scaleX(1) scaleY(1);
  width: 250px;
}

.content {
  height: calc(100% - 40px);
}
.content > div {
  float: left;
  height: 100%;
  padding-bottom: 0;
}
.content:after {
  content: "";
  clear: both;
  display: block;
}

input,
option {
  font-size: 12px !important;
  height: 18px !important;
  padding: 2px !important;
}
textarea {
  line-height: inherit !important;
  margin-top: 8px !important;
  font-size: 12px !important;
  padding: 2px !important;
}
.input-field > label {
  font-size: 12px !important;
}
.input-field.col label {
  left: 0.5rem;
  transform: translateY(6px);
}
.input-field > label:not(.label-icon).active {
  transform: translateY(-15px) scale(0.8);
}
.group_menu {
  padding-top: 3px;
  padding-left: 10px;
  width: 70px;
  background-color: var(--main-background-color);
  overflow-y: scroll;
  -ms-overflow-style: none;
}
.group_button {
  width: 50px;
  margin-bottom: 10px;
  border-radius: 5px;
  user-select: none;
  border: 2px solid #00000000;
  box-shadow: 0px 0px 1px 3px #00000000;
}
.group_add {
  text-align: center;
}
.group_add_button {
  width: 44px;
  height: 44px;
  line-height: 44px;
  font-size: 30px;
  border-radius: 5px;
  background-color: #ddd;
}
.group_add_button:hover {
  background-color: #ccc;
  cursor: pointer;
}
.group_button:hover ul {
  display: block;
  opacity: 1;
  position: absolute;
  top: -50px;
  left: 61px;
}
.group_button_borderd {
  border: 2px solid var(--main-front-color);
  box-shadow: 0px 0px 1px 3px var(--main-color);
}
.group_menu > img {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 50px;
  border: solid white 1px;
  cursor: pointer;
}

.item_menu {
  background-color: var(--main-color);
  width: 200px;
  transition: all 0.2s ease-out, color 0.2s ease-out,
    -webkit-transform 0.2s ease-out;
}
.main_content > h2 {
  transition: all 0.2s ease-out, color 0.2s ease-out,
    -webkit-transform 0.2s ease-out;
}
.main_content > h2::before {
  content: "■";
  color: var(--main-color);
}

.show_toggle .main_content {
  border-top-left-radius: 90px;
}
.main_content {
  margin-bottom: 0;
  width: calc(100% - 70px);
  background-color: var(--main-background-color);
  overflow-y: scroll;
  -ms-overflow-style: none;
  transition: all 0.2s ease-out;
}
.main_content:after {
  content: "";
  clear: both;
  display: block;
}
.box {
  float: left;
  background-color: white;
  border-radius: 3px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  border: rgb(162, 165, 162) 1px solid;
}

.box_title {
  padding-left: 10px;
  font-size: 12px;
  line-height: 40px;
  color: var(--main-front-color);
  background-color: var(--main-color);
  border-radius: 3px 3px 0px 0px;
}

.wide-box {
  width: 100%;
}

.helper-text {
  font-size: 10px;
  line-height: 10px;
  color: #999;
}
label[for="title"].active {
  transform: scale(0) !important;
}
#toast-container {
  top: 40px !important;
  right: 15px !important;
}
.toast {
  display: block;
  background-color: var(--very-impressive-color);
  cursor: pointer;
}
.toast .targetTodo {
  font-size: 14px;
  line-height: 14px;
}
.toast .message {
  font-size: 10px;
  line-height: 10px;
}
ul.ctx-menu {
  padding: 5px;
}
ul.ctx-menu li {
  cursor: pointer;
  padding: 2px;
  line-height: 18px;
}
ul.ctx-menu li.disabled {
  background-color: #f9f9f9;
  cursor: not-allowed;
}
.ctx-menu .divider {
  padding: 0 !important;
  margin: 2px 0;
}
.input-joined-input {
  height: 34px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-joined-button {
  height: 34px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.progress .determinate {
  background-color: var(--very-impressive-color);
}
.title_icon_image {
  width: 18px;
  height: 18px;
  border-radius: 9px;
  vertical-align: middle;
}
.group-self-img {
  width: 46px;
  height: 46px;
  border-radius: 3px;
}
.progress {
  background-color: var(--main-color);
}
.progress .indeterminate {
  background-color: var(--impressive-color);
}
.error {
  color: var(--error-text-color) !important;
}
ul.ctx-menu li:hover {
  background-color: #eee;
}
.alwaysactive {
  font-size: 10px;
}
.notification {
  position: fixed;
  top: 0;
  right: -200px;
  width: 200px;
  box-sizing: border-box;
  background-color: #eee;
  border-left: solid 1px #bbb;
  transition: all 0.2s ease-out;
  height: 100%;
  user-select: none;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  opacity: 0.75;
}
.notify_icon {
  user-select: none;
}
.notificationOpen {
  right: 0;
}
.warning {
  z-index: 99;
  position: fixed;
  left: 0;
  top: -50px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  color: white;
  background-color: #f00;
  border-left: solid 1px #f33;
  transition: all 0.2s ease-out;
  text-align: center;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  opacity: 0.75;
}
.warningOpen {
  top: 0;
}
.notificationTitle {
  position: relative;
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
}
.notificationTitle i {
  float: right;
  line-height: 36px;
  user-select: none;
  margin-top: 0;
}
.notificationTitle i:hover {
  cursor: pointer;
}
.notificationTitle::after {
  clear: both;
}
.notificationInner {
  margin: 0 2px 2px 2px;
  border: solid 1px #bbb;
  background-color: #f9f9f9;
  padding: 2px;
}

.notificationInner a {
  color: #666;
}

.notificationInnerTitle {
  font-size: 0.8em;
}
</style>