<template>
  <div>
    <div class="row left_and_right">
      <div class="col left-area">
        <div v-if="!todoAndBars" class="progress">
          <div class="indeterminate"></div>
        </div>
        <todo-box
          ref="todoBox"
          :title="groupId ? $t('groupHome.todo') : $t('home.selfTodo')"
          :todos="todoAndBars"
          :currentTodo="editingTodo"
          :editable="editable"
          @moved="todoMoved"
          @todo-toggle-clicked="openTodoWithRouteChange"
          @todo-clicked="openTodoWithCurrentPane"
          @add-todo-clicked="addTodo"
          @add-sprint-bar-clicked="openCreateSprintBarDialog"
          @sprint-bar-title-changed="saveSprintBar"
          @create-child-todo="createChildTodo"
          @create-todo-before="(todo)=>createTodoWithPut(todo, true)"
          @create-todo-after="(todo)=>createTodoWithPut(todo, false)"
          @context-move-todo-next-to="openMoveNextTo"
          @sprint-ctrl-click="downloadSprintJson"
          @download-todos="downloadTodos"
          @delete-sprint="openDeleteSprintConfirmDialog"
          @delete-todo="openDeleteTodoDialog"
        />
      </div>
      <div class="col right_area">
        <todo
          v-if="editingTodo"
          v-model="editingTodo"
          :group-id="group ? group.id : undefined"
          edit-same-pane="true"
          ref="todoEditor"
          @cancel="cancelEdit"
          @todo-appended="todoAppended"
          :onlyView="!editable"
        />
      </div>
    </div>
  </div>
</template>
<script>
import TodoForList from "./TodoForList";
import * as Todo from "../js/model/Todo";
import * as Account from "../js/model/Account";
import * as SprintBar from "../js/model/SprintBar";
import TodoView from "./Todo";
import TodoBox from "./TodoBox";
import Objects from "../js/util/Objects";
import { loadGroup, loadGroupsTodo } from "../js/model/Group";
const calcOrderKey = require("../../../app/server/util/calcOrderKey");
const BigNumber = require("bignumber.js");
const CSV = require("csv-string");
const encoding = require("encoding-japanese");
import * as Files from "../js/util/Files";

BigNumber.config({
  RANGE: [-1000, 1],
  EXPONENTIAL_AT: [-1000, 1],
  DECIMAL_PLACES: 1000,
  ALPHABET: "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz"
}); //Duplicate Todos.js

export default {
  components: { TodoBox, TodoForList, todo: TodoView },
  props: ["groupId", "groups"],
  data: function() {
    return {
      group: {},
      todos: null,
      bars: null,
      todoAndBars: null,
      self: null,
      editingTodo: null,
      maxProgress: 100,
      updateTodoSocketListener: null,
      createSprintBarSocketListener: null,
      deleteSprintBarSocketListener: null,
      updateTodoProgressSocketListener: null,
      sortedSocketListener: null,
      keyEventHandler: null,
      editable: true
    };
  },
  methods: {
    async todoMoved(event) {
      this.todoAndBars.splice(event.oldIndex, 1);
      this.todoAndBars.splice(event.newIndex, 0, event.target);
      var before = this.todoAndBars[event.newIndex - 1];
      var after = this.todoAndBars[event.newIndex + 1];
      var beforeOrderKey = !before
        ? null
        : before.__type == "todo"
        ? before.order[0].orderKey
        : before.orderKey;
      var afterOrderKey = !after
        ? null
        : after.__type == "todo"
        ? after.order[0].orderKey
        : after.orderKey;

      const newOrder = await Todo.putAfter({
        target: event.target,
        beforeOrderKey,
        afterOrderKey,
        type: this.groupId ? "group" : "self",
        typeId: this.groupId ? this.group.id : this.self.id,
        objectType: event.target.__type
      });
      if (event.target.__type == "todo") {
        var target = this.todoAndBars.find(
          t => t.__type == "todo" && t.id == event.target.id
        );
        target.order = [newOrder];
        target.__orderKey = newOrder.orderKey;
      } else {
        var target = this.todoAndBars.find(
          t => t.__type == "bar" && t.id == event.target.id
        );
        target.orderKey = newOrder.orderKey;
        target.__orderKey = newOrder.orderKey;
      }
    },
    openTodoWithCurrentPane(todo) {
      if (this.editingTodo && this.editingTodo.id == todo.id) {
        return;
      }
      setTimeout(() => {
        //once reflesh todo pane.
        this.editingTodo = todo;
      });
      this.editingTodo = null;
      this.cancelEdit();
      if (this.$refs.todoEditor) {
        this.$refs.todoEditor.toEditable(false);
      }
    },
    openTodoWithRouteChange(todo) {
      if (this.groupId) {
        this.$router.push(`/group/${this.group.key}/ticket/${todo.key}`);
      } else {
        this.$router.push(`/ticket/${todo.key || todo.id}`);
      }
    },
    async cancelEdit() {
      if (!this.editingTodo) {
        return;
      }
      if (!this.editingTodo.id) {
        this.editingTodo = null;
        return;
      }
      var originTodo = await Todo.loadTodo(this.editingTodo.id);
      Objects.overwriteWith(
        this.todos.find(t => t.id == this.editingTodo.id),
        originTodo
      );
      this.editingTodo = this.todos.find(t => t.id == this.editingTodo.id);
      this.editingTodo.__type = "todo"; //TODO group orderとself orderの見分けついてる？
      if (!this.editingTodo.progress) {
        this.editingTodo.progress = 0;
      }
    },
    addTodo(parent) {
      this.editingTodo = null; //must once reflesh or exception occure at InputSelect, NotFoundError: Failed to execute 'insertBefore'
      setTimeout(async () => {
        this.editingTodo = {
          __type: "todo",
          title: "",
          content: "",
          from: await Account.getAccount()
        }; //set empty param for "update" method called.
        if (parent) {
          this.editingTodo.parent = parent;
        }
        if (this.group) {
          this.editingTodo.groupId = this.group.id;
        }
        setTimeout(() => {
          this.$refs.todoEditor.editTodo();
        });
      });
    },
    getNextToLastSprintBarOrderKey() {
      var before, after;
      for (let i = this.todoAndBars.length - 1; i >= 0; i--) {
        if (this.todoAndBars[i].__type == "bar") {
          before = this.todoAndBars[i].orderKey;
          after = !this.todoAndBars[i + 1]
            ? null
            : this.todoAndBars[i + 1].__type == "todo"
            ? this.todoAndBars[i + 1].order[0].orderKey
            : this.todoAndBars[i + 1].orderKey;
          break;
        }
      }
      return calcOrderKey(before, after);
    },
    createNewSprintName() {
      var title;
      for (let i = this.todoAndBars.length - 1; i >= 0; i--) {
        if (this.todoAndBars[i].__type == "bar") {
          title = this.todoAndBars[i].title;
          break;
        }
      }
      const nameAndIntRegex = /^(.+)(\d+)$/;
      if (!title) {
        title = "Sprint1";
      } else if (new Date(title).getTime()) {
        title = new Date().toDateString();
      } else if (title.match(nameAndIntRegex)) {
        title = title.replace(
          nameAndIntRegex,
          (match, name, number) => name + (parseInt(number) + 1)
        );
      } else {
        title = "Sprint1";
      }
      return title;
    },
    openCreateSprintBarDialog() {
      this.$dialog.$once("closed", text => {
        if (!text || "string" != typeof text) {
          return;
        }
        this.addSprintBar(text);
      });
      var text = this.createNewSprintName();
      this.$dialog.$emit("open", {
        title: this.$t("todo.createSprintBar"),
        inputText: true,
        text,
        placeholder: this.$t("todo.sprintBarTitle")
      });
    },
    async addSprintBar(title) {
      const orderKey = this.getNextToLastSprintBarOrderKey();
      var sprintBar = {
        __type: "bar",
        title,
        orderKey
      };
      var registedSprintBar;
      if (this.groupId) {
        registedSprintBar = await SprintBar.saveGroup(this.groupId, sprintBar);
      } else {
        registedSprintBar = await SprintBar.saveSelf(sprintBar);
      }
      Object.assign(sprintBar, registedSprintBar);
      sprintBar.__orderKey = sprintBar.orderKey;
      this.pushToTodoAndBarsAtOrderKey(sprintBar.__orderKey, sprintBar);
      this.scrollToOrderKey(sprintBar.__orderKey);
    },
    pushToTodoAndBarsAtOrderKey(orderKey, obj) {
      var orderKeyBigNumber = new BigNumber(orderKey);
      var insertIndex = this.todoAndBars.findIndex(t => {
        const tOrder = new BigNumber(t.__orderKey);
        return tOrder.isGreaterThan(orderKeyBigNumber);
      });
      if (insertIndex == -1) {
        insertIndex = 0;
      }
      this.todoAndBars = this.todoAndBars.filter(
        t => t.__type != obj.__type || t.id != obj.id
      );
      this.todoAndBars.splice(insertIndex, 0, obj);
    },
    async scrollToOrderKey(orderKey) {
      await this.$refs.todoBox.scrollToOrderKey(orderKey);
    },
    async saveSprintBar(sprintBar) {
      if (this.groupId) {
        await SprintBar.saveGroup(this.groupId, sprintBar);
      } else {
        await SprintBar.saveSelf(sprintBar);
      }
    },
    todoAppended(todo) {
      if (!this.group.id && !(todo.group && todo.group.id)) {
        todo.__type = "todo";
        todo.__orderKey = todo.order[0].orderKey;
        var parent;
        if (
          todo.parent &&
          todo.parent.id &&
          (parent = this.todos.find(t => t.id == todo.parent.id))
        ) {
          if (!parent.children) {
            parent.children = [];
          }
          parent.children.push(todo);
        } else {
          this.todos.push(todo);
          this.todoAndBars.push(todo);
        }
      }
      if (todo.parent) {
        return;
      }
      setTimeout(() => {
        const todoBox = document.getElementsByClassName("todo_box")[0];
        todoBox.scrollTop = todoBox.scrollHeight;
        this.$forceUpdate();
      });
    },
    sortTodoAndBarArray() {
      this.todoAndBars = this.todoAndBars.sort((a, b) => {
        return new BigNumber(a.__orderKey).isGreaterThan(
          new BigNumber(b.__orderKey)
        )
          ? 1
          : -1;
      });
    },
    async updateListWithUpdateTodo(todo) {
      if (this.group) {
        todo.order = [todo.order.find(o => o.type == "group")];
      } else {
        const self = await Account.getAccount();
        // TODO is really MY self todo order?
        todo.order = [todo.order.find(o => o.type == "self")];
      }
      todo.__orderKey = todo.order[0].orderKey;
      todo.__type = "todo";

      var localTodo = this.todos.find(t => todo.id == t.id);
      if (localTodo) {
        if (!todo.parent) {
          const todoIndex = this.todos.findIndex(t => t.id == localTodo.id);
          if (todoIndex >= 0) {
            this.todos.splice(todoIndex, 1, todo);
          }
          const todoAndBarsIndex = this.todoAndBars.findIndex(
            t => t.__type == "todo" && t.id == localTodo.id
          );
          if (todoAndBarsIndex >= 0) {
            this.todoAndBars.splice(todoAndBarsIndex, 1, todo);
          }
        } else {
          //is child todo
          var localParent = this.todos.find(t => todo.parent.id == t.id);
          if (localParent) {
            // new parent
            if (!localParent.children) {
              localParent.children = [];
            }
            localParent.children = localParent.children.filter(
              t => t.id != todo.id
            ); //child may duplicate by local editing.
            localParent.children.push(localTodo);
            localParent.children.sort((t1, t2) => (t1.id = t2.id));
          } //else new parent is not current group.
          //remove fron current top level todo list.
          const todoIndex = this.todos.findIndex(t => t.id == localTodo.id);
          if (todoIndex >= 0) {
            this.todos.splice(todoIndex, 1);
          }
          const todoAndBarsIndex = this.todoAndBars.findIndex(
            t => t.id == localTodo.id
          );
          if (todoAndBarsIndex >= 0) {
            this.todoAndBars.splice(todoAndBarsIndex, 1);
          }
        }
      } else {
        // it was not local top level todo
        var localParent = this.todos
          .filter(t => t.children && t.children.some(c => c.id == todo.id))
          .forEach(p => {
            p.children = p.children.filter(t => t.id != todo.id);
          }); //both old parent and current editing parent may have child
        if (todo.parent) {
          //this case is child to child todo.
          var localNewParent = this.todos.find(t => todo.parent.id == t.id);
          if (localNewParent) {
            if (!localNewParent.children) {
              localNewParent.children = [];
            } //child may duplicate by local editing.
            localNewParent.children.push(todo);
            localNewParent.children.sort((t1, t2) => t1.id - t2.id);
          } //else has parent but not current home todos.
        } else {
          //todo not exists top level and current no parent. has possibility to be top level.
          if (
            (this.group && this.group.id == todo.groupId) ||
            (todo.personnels &&
              this.self &&
              todo.personnels.some(p => p.id == this.self.id))
          ) {
            //this todo is actually current home todo.
            this.todos.push(todo);
            this.todoAndBars.push(todo);
            this.sortTodoAndBarArray();
            setTimeout(() => this.$forceUpdate());
          } // else is not current home todo.
        }
      }
      if (this.editingTodo && this.editingTodo.id == todo.id) {
        if (!this.$refs.todoEditor.editable) {
          if (!this.$refs.todoEditor.isSavedNow(todo.id)) {
            this.editingTodo = todo;
          }
        } else {
          this.$refs.todoEditor.conflict();
        }
      }
    },
    createChildTodo(childTodo) {
      this.addTodo(childTodo);
    },
    createTodoWithPut(putTodo, before) {
      this.$dialog.$emit("open", {
        title: this.$t("newTodo"),
        inputText: true,
        placeholder: this.$t("todo.title")
      });
      this.$dialog.$once("closed", async text => {
        if (!text || "string" != typeof text) {
          return;
        }
        const todo = { title: text };
        if (this.group) {
          todo.group = this.group;
        }
        if (
          this.group &&
          this.group.todoTemplate &&
          this.group.todoTemplate.content
        ) {
          todo.content = this.group.todoTemplate.content;
        }
        var registed = await Todo.uploadTodo(todo);
        registed.__type = "todo";
        await this.putTodo(putTodo, registed, before);
        this.editingTodo = registed;
      });
    },
    async putTodo(putTodo, todo, before) {
      var putTodoIndex = this.todoAndBars.findIndex(
        t => t.__type == "todo" && t.id == putTodo.id
      );
      var nextElement = this.todoAndBars[putTodoIndex + (before ? -1 : 1)];
      const putProp = {
        target: todo,
        beforeOrderKey: before
          ? nextElement && nextElement.__orderKey
          : putTodo.__orderKey,
        afterOrderKey: before
          ? putTodo.__orderKey
          : nextElement && nextElement.__orderKey,
        type: this.groupId ? "group" : "self",
        typeId: this.groupId ? this.group.id : this.self.id,
        objectType: "todo"
      };
      const newOrder = await Todo.putAfter(putProp);
      todo.order = [newOrder];
      todo.__orderKey = newOrder.orderKey;
      if (this.self) {
        //for get self push
        todo.__type = "todo";
        todo.__orderKey = newOrder.orderKey;
        this.todos.push(todo);
        this.todoAndBars.push(todo);
        this.sortTodoAndBarArray();
      }
    },
    openMoveNextTo(moveTodo) {
      this.$dialog.$once("todoSelected", async todo => {
        if (!todo) {
          return;
        }
        const todoInList = this.todoAndBars.find(
          t => t.__type == "todo" && t.id == todo.id
        );
        await this.putTodo(todoInList, moveTodo);
        this.scrollToOrderKey(moveTodo.__orderKey);
      });
      this.$dialog.$emit("open", {
        searchTodo: true,
        searchIgnoreTodos: [
          moveTodo,
          ...this.todos.filter(t => t.children).flatMap(t => t.children)
        ],
        searchGroup: this.group
      });
    },
    downloadSprintJson(sprint) {
      const sprintindex = this.todoAndBars.findIndex(
        t => t.__type == "bar" && t.id == sprint.id
      );
      var todos = [];
      for (let i = sprintindex - 1; i >= 0; i--) {
        var item = this.todoAndBars[i];
        if (item.__type == "bar") {
          break;
        }
        todos.unshift(item);
      }
      const blob = new Blob([JSON.stringify(todos)], {
        type: "application/json;charset=utf-8"
      });
      Files.download(sprint.title + ".json", blob);
    },
    downloadTodos() {
      if (this.groupId) {
        this.group.customAttributes.sort((a, b) => a.order - b.order);
      }
      const todoAndSprintMap = [];
      var culcuratingCurrentSprintTitle = null;
      for (let i = this.todoAndBars.length - 1; i >= 0; i--) {
        const culcuratingCurrentTodo = this.todoAndBars[i];
        if (culcuratingCurrentTodo.__type == "todo") {
          todoAndSprintMap[
            culcuratingCurrentTodo.key
          ] = culcuratingCurrentSprintTitle;
        } else {
          culcuratingCurrentSprintTitle = culcuratingCurrentTodo.title;
        }
      }
      const todos = this.todoAndBars
        .filter(t => t.__type == "todo")
        .map(t => {
          var row = [
            todoAndSprintMap[t.key],
            t.key,
            t.title,
            t.point,
            t.content,
            t.personnels ? t.personnels.map(p => p.name).join(",") : "",
            t.from ? t.from.name : ""
          ];
          if (this.groupId && t.customAttributeValues) {
            this.group.customAttributes
              .map(gc =>
                t.customAttributeValues.find(
                  c => c && c.customAttribute && c.customAttribute.id == gc.id
                )
              )
              .map(
                cav => cav && (cav.stringValue || cav.intValue || cav.dateValue)
              )
              .forEach(v => row.push(v));
          }
          row.push(
            location.protocol +
              "//" +
              location.host +
              "/ticket/" +
              (t.key || t.id)
          );
          return row;
        });
      const title = [
        this.$t("sprint"),
        this.$t("todo.key"),
        this.$t("todo.title"),
        this.$t("todo.point"),
        this.$t("todo.content"),
        this.$t("todo.personnels"),
        this.$t("todo.from")
      ];
      if (this.groupId) {
        this.group.customAttributes
          .map(ca => ca.title)
          .forEach(t => title.push(t));
      }
      title.push(this.$t("todo.url"));
      todos.unshift(title);
      const csv = CSV.stringify(todos);
      const codeArray = encoding.convert(Buffer.from(csv), "SJIS", "UTF8");
      const blob = new Blob([new Uint8Array(codeArray)], {
        type: "text/csv;charset=Shift_JIS"
      });
      Files.download("todos.csv", blob);
    },
    openDeleteSprintConfirmDialog(sprint) {
      this.$dialog.$emit("open", {
        confirm: true,
        message: this.$t("todo.sprintConfirmDelete", { name: sprint.title }),
        execButton: this.$t("delete")
      });
      this.$dialog.$once("closed", async ok => {
        if (ok) {
          await SprintBar.deleteSprint(sprint);
          const sprintBarIndex = this.todoAndBars.findIndex(
            t => t.__type == "bar" && t.id == sprint.id
          );
          if (sprintBarIndex >= 0) {
            this.todoAndBars.splice(sprintBarIndex, 1);
          }
        }
      });
    },
    openDeleteTodoDialog(todo) {
      this.$dialog.$emit("open", {
        confirm: true,
        message: this.$t("todo.todoConfirmDelete", {
          name: (todo.key ? todo.key + " " : "") + todo.title
        }),
        execButton: this.$t("delete")
      });
      this.$dialog.$once("closed", async ok => {
        if (ok === true) {
          await Todo.deleteTodo(todo);
          var todoIndex = this.todoAndBars.findIndex(
            t => t.__type == "todo" && t.id == todo.id
          );
          if (todoIndex >= 0) {
            this.todoAndBars.splice(todoIndex, 1);
          }
          todoIndex = this.todos.findIndex(
            t => t.__type == "todo" && t.id == todo.id
          );
          if (todoIndex >= 0) {
            this.todos.splice(todoIndex, 1);
          }
        }
      });
    }
  },
  created() {
    this.updateTodoSocketListener = async todo => {
      if (!todo) {
        return;
      }
      if (todo.newMessageLink) {
        const targetTodo = this.todos
          .map(t => [t, ...t.children])
          .flat()
          .filter(t => t && t.id == todo.id);
        if (targetTodo) {
          if (!targetTodo.messageLinks) {
            targetTodo.messageLinks = [];
          }
          targetTodo.messageLinks.push(todo.newMessageLink);
        }
        if (this.editingTodo && this.editingTodo.id == todo.id) {
          if (!this.editingTodo.messageLinks) {
            this.editingTodo.messageLinks = [];
          }
          if (
            !this.editingTodo.messageLinks.some(
              m => m.id == todo.newMessageLink.id
            )
          ) {
            this.editingTodo.messageLinks.push(todo.newMessageLink);
          }
        }
        return;
      }
      if (
        this.editingTodo &&
        this.editingTodo.id == todo.id &&
        this.$refs.todoEditor.editable
      ) {
        delete todo.content;
      }
      this.updateListWithUpdateTodo(todo);
    };
    this.$socket.on("UPDATE_TODO", this.updateTodoSocketListener);

    this.deleteTodoSocketListener = todo => {
      this.todos = this.todos.filter(
        t => t.__type != "todo" || t.id != todo.id
      );
      this.todoAndBars = this.todoAndBars.filter(
        t => t.__type != "todo" || t.id != todo.id
      );
      this.todoAndBars.forEach(t => {
        if (t.children) {
          t.children = t.children.filter(c => c.id != todo.id);
        }
      });
      if (this.editingTodo && this.editingTodo.id == todo.id) {
        this.editingTodo = null;
      }
    };
    this.$socket.on("DELETE_TODO", this.deleteTodoSocketListener);
    this.createSprintBarSocketListener = sprintBar => {
      sprintBar.__type = "bar";
      sprintBar.__orderKey = sprintBar.orderKey;
      this.pushToTodoAndBarsAtOrderKey(sprintBar.orderKey, sprintBar);
    };
    this.$socket.on("UPDATE_SPRINTBAR", this.createSprintBarSocketListener);
    this.deleteSprintBarSocketListener = sprintBar => {
      this.todoAndBars = this.todoAndBars.filter(
        t => t.__type != "bar" || t.id != sprintBar.id
      );
    };
    this.$socket.on("DELETE_SPRINTBAR", this.deleteSprintBarSocketListener);
    this.updateTodoProgressSocketListener = todo => {
      this.todos
        .map(t => [t, ...t.children])
        .flat()
        .filter(t => t && t.id == todo.id)
        .forEach(t => {
          t.progress = todo.progress;
        });
    };
    this.$socket.on(
      "UPDATE_TODO_PROGRESS",
      this.updateTodoProgressSocketListener
    );
    this.sortedSocketListener = async sortedEvent => {
      if (
        !this.group ||
        !sortedEvent.group ||
        sortedEvent.group.id != this.group.id
      ) {
        return;
      }
      var target = this.todoAndBars.find(
        t => t.__type == sortedEvent.objectType && t.id == sortedEvent.id
      );
      target.__orderKey = new BigNumber(sortedEvent.orderKey);
      if (sortedEvent.objectType == "todo") {
        target.order[0].orderKey = sortedEvent.orderKey;
      } else {
        target.orderKey = sortedEvent.orderKey;
      }
      this.sortTodoAndBarArray();
    };
    this.$socket.on("SORTED", this.sortedSocketListener);
  },
  beforeDestroy() {
    this.$socket.off("UPDATE_TODO", this.updateTodoSocketListener);
    this.$socket.off("UPDATE_SPRINTBAR", this.createSprintBarSocketListener);
    this.$socket.off("DELETE_TODO", this.deleteTodoSocketListener);
    this.$socket.off("DELETE_SPRINTBAR", this.deleteSprintBarSocketListener);
    this.$socket.off(
      "UPDATE_TODO_PROGRESS",
      this.updateTodoProgressSocketListener
    );
    this.$socket.off("SORTED", this.sortedSocketListener);
    document.removeEventListener("keydown", this.keyEventHandler);
  },
  beforeMount: async function() {
    try {
      if (!this.groupId) {
        await Promise.all([
          (async () => (this.todos = await Todo.loadAllTodo()))(),
          (async () => (this.bars = await SprintBar.loadSelfSprintBar()))(),
          (async () => (this.self = await Account.getAccount()))()
        ]);
      } else {
        await Promise.all([
          (async () => (this.todos = await loadGroupsTodo(this.groupId)))(),
          (async () =>
            (this.bars = await SprintBar.loadSprintBar(this.groupId)))(),
          (async () => (this.group = await loadGroup(this.groupId)))()
        ]);

        var me = await Account.getAccount();
        if (this.group.viewMembers.some(a => a.id == me.id)) {
          this.editable = false;
        }
      }
      this.todos.forEach(t => {
        t.__type = "todo";
        t.__orderKey = t.order[0]
          ? new BigNumber(t.order[0].orderKey)
          : calcOrderKey.ORDERDEFAULT;
      });
      this.bars.forEach(t => {
        t.__type = "bar";
        t.__orderKey = new BigNumber(t.orderKey);
      });

      this.todoAndBars = this.todos.concat(this.bars);
      this.sortTodoAndBarArray();
      this.keyEventHandler = event => {
        if (event.ctrlKey || event.metaKey) {
          if (
            event.keyCode == 65 &&
            (!this.$refs.todoEditor || !this.$refs.todoEditor.editable)
          ) {
            this.addTodo();
            event.preventDefault();
            return false;
          }
        }
      };
      if (this.editable) {
        document.addEventListener("keydown", this.keyEventHandler);
      }
    } catch (e) {
      location.href = "/";
    }
  }
};
</script>
<style scoped>
.col {
  padding: 0;
}
.left_and_right {
  height: 100%;
  margin-bottom: 0;
}
.left-area {
  height: 100%;
}
.right_area {
  padding: 0 10px;
  height: 100%;
  overflow-y: scroll;
}
@media screen and (min-width: 600px) {
  .left-area {
    width: 500px;
  }
  .right_area {
    width: calc(100% - 500px);
  }
}
@media screen and (max-width: 599px) {
  .left-area {
    width: 100%;
  }
  .right_area {
    display: none;
  }
}
</style>