<template>
  <div class="input-field" :class="{invalid: invalid, 'disable-input-field': disabled}">
    <input
      :id="id"
      :type="!disabled || value ? 'date' : 'text'"
      class="validate"
      :class="{'disable-input': disabled}"
      :value="value | date('YYYY-MM-DD')"
      @input="$emit('input', new Date($event.target.value))"
      :disabled="disabled"
    />
    <label :for="id" :class="{alwaysactive: disabled}">{{label}}</label>
  </div>
</template>
<script>
export default {
  props: ["id", "value", "disabled", "label", "invalid"]
};
</script>
