<template>
  <div></div>
</template>
<script>
import * as Account from "../js/model/Account";
export default {
  async beforeMount() {
    try {
      await Account.logout();
    } catch (ignore) {}
    this.$router.push("/");
  }
};
</script>
<style>
.todo {
  padding: 10px;
  border-bottom: 1px solid var(--main-background-color);
  cursor: pointer;
}

.todo > .item_header {
  font-size: 10px;
}

.todo > .item_header:after {
  content: "";
  clear: both;
  display: block;
}

.todo > .item_header > .limit {
  float: left;
}

.todo > .item_header > .personnel {
  margin-left: 10px;
  float: right;
}

.todo > .item_header > .from {
  float: right;
}
</style>