<template>
  <div>
    <div class="upload_area">
      <h2>{{$t("manual.regist")}}</h2>
      <div>
        <div class="row">
          <input-text
            id="title"
            class="input-field col s12"
            v-model="newManual.title"
            :invalid="titleEmpty"
            :label="$t('manual.title')"
          />
          <input-textarea
            id="manual_content"
            class="col s12"
            rows="3"
            v-model="newManual.content"
            :label="$t('manual.content')"
          />
          <input-text
            id="url"
            class="input-field col s12"
            v-model="newManual.url"
            :invalid="urlWrong"
            :label="$t('manual.url')"
          />
          <button
            id="addManualButton"
            class="waves-effect waves-light btn"
            :disabled="saving"
            @click="registManual"
          >
            <i class="material-icons left">add</i>
            {{$t("appends")}}
          </button>
        </div>
      </div>
    </div>
    <hr />
    <div class="box manual_box">
      <div class="box_title">{{$t("manual.manual")}}</div>
      <div>
        <table>
          <thead>
            <tr>
              <th></th>
              <th>{{$t("manual.regist_date")}}</th>
              <th>{{$t("manual.title")}}</th>
              <th>{{$t("manual.register")}}</th>
              <th>{{$t("manual.shareTo")}}</th>
              <th>{{$t("manual.status")}}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(manual, index) in manuals" :key="index">
              <td>
                <div>
                  <input type="checkbox" v-model="manual.checked" />
                </div>
              </td>
              <td>{{manual.createdAt | date("YYYY/MM/DD")}}</td>
              <td>{{manual.title}}</td>
              <td v-if="manual.register">{{manual.register.mail}}</td>
              <td>{{manual.status}}</td>
              <td>{{manual.global}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
<script>
import { loadAllManual, uploadManual } from "../js/model/Manual";
import InputText from "./InputText";
import InputTextarea from "./InputTextarea";
import { isUrl } from "../../../app/server/util/stringUtil";

export default {
  components: { InputText, InputTextarea },
  computed: {
    globalDisplay(manual) {
      return manual.global ? $t("global") : $t("group");
    }
  },
  data() {
    var f = (title, span, register, status, global) => {
      return { title, span, register, status, global };
    };
    return {
      newManual: {},
      manuals: [],
      titleEmpty: false,
      urlWrong: false,
      saving: false
    };
  },
  methods: {
    async registManual() {
      this.saving = true;
      setTimeout(async () => {
        if (this.newManual.url && !isUrl(this.newManual.url)) {
          this.urlWrong = true;
          return;
        }
        if (this.$route.params.groupId) {
          this.newManual.groupId = this.$route.params.groupId;
        }
        var registedManual = await uploadManual(this.newManual);
        this.manuals.unshift(registedManual);
        this.newManual = {};
        this.saving = false;
      });
    }
  },
  beforeMount: async function() {
    this.manuals = await loadAllManual(this.$route.params.groupId);
  },
  watch: {
    newManual: {
      handler: function(manual) {
        this.titleEmpty = !manual.title;
        this.urlWrong = manual.url && !isUrl(manual.url);
      },
      deep: true
    }
  }
};
</script>
<style scoped>
.upload_area {
  margin-bottom: 10px;
}
th,
td {
  padding: 0 10px;
}

.manual_box {
  width: 100%;
}
</style>