<template>
  <div>
    <div id="back-cover" v-if="coverd && open"></div>
    <div
      class="moveModal"
      :class="{'inputText': inputText || progress,'inputTextWithDescription': inputText && description, 'confirm': confirm, 'editSprint': editSprint}"
      v-if="open"
    >
      <todo v-if="todo" v-model="todo" onlyView="true" showInDialog="true" />
      <div v-if="groups">
        <h2>{{$t("group.group")}}</h2>
        <div v-for="group in groups" :key="group.id" class="collapsible-header row">
          <div class="col s8">
            <img
              v-if="group.iconUrlForDownload || group.iconUrl"
              class="group-img"
              :src="group.iconUrlForDownload || group.iconUrl"
            />
            <generated-icon
              v-if="!(group.iconUrlForDownload || group.iconUrl)"
              class="group-img"
              :value="group.name"
            />
            <span class="group-name">{{group.name}}</span>
          </div>
          <button
            class="modal-close waves-effect waves-green btn col s2 join-button"
            @click="joinToGroup(group)"
          >{{$t("group.join")}}</button>
          <button
            class="modal-close waves-effect waves-green btn col s2 viewer-join-button"
            @click="joinToGroup(group, 'VIEWER')"
          >{{$t("group.viewerJoin")}}</button>
        </div>
        <div v-if="groupCreatable" class="collapsible-header row">
          <div class="col s12" @click="closeAndGoNewGroup">
            <i class="material-icons group-img icon-img group_add_button">add</i>
            <span class="group-name">{{$t("newGroup")}}</span>
          </div>
          <div class="col s12" @click="closeAndGoNewGroupFromArchive">
            <i class="material-icons group-img icon-img group_add_button">add</i>
            <span class="group-name">{{$t("group.restoreFromArchive")}}</span>
          </div>
        </div>
        <div v-if="!groupCreatable">
          <div class="col s12">{{$t("tenant.groupCantCreateWithThisPlan")}}</div>
        </div>
      </div>

      <!-- group -->
      <div v-if="searchTodo" class="row">
        <div class="row" style="margin-bottom:0">
          <input-text
            id="searchTodoInput"
            class="search-todo-input col s11"
            v-model="searchWord"
            :placeholder="$t('search')"
          />
          <div class="col s1"></div>
        </div>
        <div class="searched-todo-area">
          <div
            v-for="todo in searchedTodos"
            :key="todo.id"
            class="row searched-todo"
            @click="selectTodo(todo)"
          >
            <div class="col s12">{{todo.key}}:&nbsp;{{todo.title}}</div>
          </div>
          <div
            class="row"
            v-if="searchWord && (!searchedTodos || searchedTodos.length == 0)"
          >{{$t("todo.noTodo")}}</div>
        </div>
      </div>
      <div v-if="inputText">
        <h2>{{title}}</h2>
        <div class="modal-content row">
          <input-text
            id="modalInputText"
            class="search-todo-input col s12"
            v-model="text"
            :placeholder="placeholder"
            @keypressEnter="sendText"
          />
          <div v-if="description" class="col s12">{{description}}</div>
        </div>
        <div class="modal-footer">
          <button
            class="modal-close waves-effect waves-red btn-flat"
            @click="close()"
          >{{$t('cancel')}}</button>
          <button
            class="modal-close waves-effect waves-green btn text-complete-button"
            @click="sendText"
          >{{execButton || $t('create')}}</button>
        </div>
      </div>
      <!-- inputText -->
      <div v-if="confirm">
        <h2>&nbsp;</h2>
        <div class="modal-content" v-if="message">{{message}}</div>
        <div class="modal-content" v-if="!message && htmlMessage" v-html="htmlMessage"></div>
        <div class="modal-footer">
          <button
            class="modal-close waves-effect waves-red btn-flat"
            @click="close()"
          >{{$t('cancel')}}</button>
          <button
            class="modal-close waves-effect waves-green btn text-complete-button"
            @click="ok"
          >{{execButton}}</button>
        </div>
      </div>
      <!-- confirm -->
      <div v-if="editSprint">
        <h2>{{$t("sprints.edit")}}</h2>
        <div class="row" style="margin-bottom:0">
          <input-text
            class="sprint-title-input col s12"
            v-model="sprintTitle"
            :placeholder="$t('sprints.title')"
          />
        </div>
        <div class="row">
          <input-text
            type="date"
            class="sprint-startat-input col s6"
            v-model="sprintStartAt"
            :placeholder="$t('sprints.startAt')"
            :label="$t('sprints.startAt')"
          />
          <input-text
            type="date"
            class="sprint-endat-input col s6"
            v-model="sprintEndAt"
            :placeholder="$t('sprints.endAt')"
            :label="$t('sprints.endAt')"
          />
        </div>
        <div class="modal-content" v-if="message">{{message}}</div>
        <div class="modal-content" v-if="!message && htmlMessage" v-html="htmlMessage"></div>
        <div class="modal-footer">
          <button
            class="modal-close waves-effect waves-red btn-flat"
            @click="close()"
          >{{$t('cancel')}}</button>
          <button
            class="modal-close waves-effect waves-green btn sprint-edit-complete-button"
            @click="saveSprint()"
          >{{$t('ok')}}</button>
        </div>
      </div>
      <!-- editSprint -->
      <div v-if="progress">
        <h2>{{title}}</h2>
        <div class="modal-content">
          <div class="col s12">{{message}}</div>
          <div class="col s12">
            <editable-progress
              id="progress"
              class="col s12"
              v-model="progressValue"
              :disabled="true"
              :label="$t('todo.progress')"
            />
          </div>
          <div v-if="description" class="col s12">{{description}}</div>
        </div>
        <div class="modal-footer">
          <button
            v-if="!cantCancel"
            class="modal-close waves-effect waves-red btn-flat"
            @click="close"
          >{{$t('cancel')}}</button>
          <button
            class="modal-close waves-effect waves-green btn text-complete-button"
            @click="ok"
          >{{$t("ok")}}</button>
        </div>
      </div>
      <!-- progress -->
      <div v-if="payment">
        <h2>{{title}}</h2>
        <div>
          <img alt="visa" title="visa" src="/images/visa.png" height="40" border="0" />
          <img alt="visa" title="visa" src="/images/mastercard.png" height="40" border="0" />
        </div>
        <div>
          <label class="alwaysactive">{{$t("payment.card.number")}}</label>
        </div>
        <div>
          <input
            type="text"
            class="card-number"
            maxlength="4"
            autocomplete="off"
            v-model="card.number[1]"
          />-
          <input type="text" class="card-number" maxlength="4" v-model="card.number[2]" />-
          <input type="text" class="card-number" maxlength="4" v-model="card.number[3]" />-
          <input type="text" class="card-number" maxlength="4" v-model="card.number[4]" />
        </div>
        <div>
          <label class="alwaysactive">{{$t("payment.card.limit")}}</label>
        </div>
        <div>
          <select name="cardLimitMonth" v-model="card.limitMonth">
            <option v-for="i in Array.from({length: 12}, (v, k) => k+1)" :key="i" :value="i">{{i}}</option>
          </select>/
          <select name="cardLimitYear" v-model="card.limitYear">
            <option v-for="i in Array.from({length: 20}, (v, k) => k+20)" :key="i" :value="i">{{i}}</option>
          </select>
        </div>
        <div>
          <label class="alwaysactive">{{$t("payment.card.securityCode")}}</label>
        </div>
        <div>
          <input
            type="text"
            class="card-number secret-code"
            autocomplete="off"
            v-model="card.securityCode"
          />
        </div>
        <div v-if="cardInfoIsWrong" class="invalid">{{$t("payment.thisCardCantUse")}}</div>
        <div class="modal-footer">
          <button
            v-if="!cantCancel"
            class="modal-close waves-effect waves-red btn-flat"
            @click="close"
          >{{$t('cancel')}}</button>
          <button
            class="modal-close waves-effect waves-green btn text-complete-button"
            @click="loadTokenId"
            :disabled="cardInvalid || paying"
          >{{$t("buy")}}</button>
        </div>
      </div>
      <!-- card -->
      <i class="modal-close-button material-icons" @click="close()">close</i>
    </div>
  </div>
</template>
<script>
import Todo from "./Todo";
import InputText from "./InputText";
import EditableProgress from "./EditableProgress";
import * as TodoIF from "../js/model/Todo";
import GeneratedIcon from "./GeneratedIcon";
import * as Group from "../js/model/Group";
import * as Tenant from "../js/model/Tenant";
import * as Account from "../js/model/Account";
import * as Files from "../js/util/Files";
const Strings = require("../../../app/server/util/stringUtil");
export default {
  components: { Todo, GeneratedIcon, InputText, EditableProgress },
  data() {
    return {
      title: null,
      content: null,
      open: false,
      coverd: false,
      todo: null,
      groups: null,
      searchTodo: false,
      fromTenant: false,
      searchWord: null,
      searchIgnoreTodos: [],
      searchGroup: null,
      searchedTodos: [],
      inputText: false,
      text: null,
      confirm: false,
      execButton: null,
      placeholder: null,
      groupCreatable: true,
      description: null,
      createGroupCall: null,
      setTextCallback: null,
      progress: false,
      progressValue: null,
      cantCancel: false,
      payment: false,
      plan: null,
      card: { number: [] },
      cardTokenId: null,
      payjsPublicKey: null,
      cardInvalid: true,
      cardInfoIsWrong: false,
      paying: false,
      htmlMessage: null,
      editSprint: false,
      sprint: null,
      sprintTitle: null,
      sprintStartAt: null,
      sprintEndAt: null
    };
  },
  methods: {
    close(ok) {
      this.open = false;
      this.$dialog.$emit("closed", ok);
      this.$dialog.$emit("todoSelected");
      this.$dialog.$emit("payment");
      this.searchTodo = false;
      this.fromTenant = false;
      this.searchWord = null;
      this.searchIgnoreTodos = [];
      this.searchGroup = null;
      this.searchedTodos = [];
      this.confirm = false;
      this.execButton = null;
      this.placeholder = null;
      this.title = null;
      this.description = null;
      this.progress = false;
      this.cantCancel = false;
      this.progressValue = 0;
      this.payment = false;
      this.plan = null;
      this.card = { number: [] };
      this.currentCard = {};
      this.payjsPublicKey = null;
      this.cardInvalid = true;
      this.cardInfoIsWrong = false;
      this.htmlMessage = null;
      this.editSprint = false;
      this.sprint = null;
    },
    closeAndGoNewGroup() {
      this.close();
      this.$router.push("/group/new");
    },
    async closeAndGoNewGroupFromArchive() {
      var files = await Files.requestSelectFile(".zip");
      var restoreInfo;
      var createdGroup;
      var uploadedFilesLength = 0;
      const uploadedFilesMap = [];
      await Files.readZip(files[0], async e => {
        if (e.when == "beforeRestoreFile") {
          this.groups = null;
          this.inputText = true;
          this.title = this.$t("group.specifyNewKey");
          this.description = this.$t("group.restoreDescription");
          this.text = e.info.group.key;
          var key = await new Promise(res => {
            this.setTextCallback = res;
          });
          var group = e.info.group;
          delete group.id;
          group.key = key;
          this.title = this.$t("group.restoring");
          this.inputText = false;
          this.progress = true;
          this.cantCancel = true;
          const tenant = await Tenant.loadTenant();
          const tenantAccountMap = [];
          const selfAccount = await Account.getAccount();
          tenant.relations.forEach(
            r => (tenantAccountMap[r.account.mail] = r.account)
          );
          var maxKeyNumber = 0;
          const treatTodoFunc = t => {
            var keyNumber = parseInt(
              t.key.substring(t.key.lastIndexOf("-") + 1)
            );
            if (maxKeyNumber < keyNumber) {
              maxKeyNumber = keyNumber;
            }
          };
          e.info.todos.forEach(treatTodoFunc);
          e.info.todos.flatMap(t => t.children).forEach(treatTodoFunc);
          group.startSequence = maxKeyNumber;
          group.members = group.members
            .map(m => tenantAccountMap[m.mail])
            .filter(m => m)
            .filter(m => m.mail != selfAccount.mail);
          group.viewMembers = group.viewMembers
            .map(m => tenantAccountMap[m.mail])
            .filter(m => m)
            .filter(m => m.mail != selfAccount.mail);
          group.members.push(selfAccount);
          try {
            createdGroup = await Group.uploadGroup(group);
          } catch (e) {
            this.description = this.$t("group.keyIsDuplicated");
            throw e;
          }
          this.description = this.$t("group.restore.created");
          this.progressValue = 10;
          this.restoreInfo = e.info;
          return createdGroup;
        } else if (e.when == "fileFound") {
          this.description = this.$t("group.restore.fileUploading", e.file);
          e.file.blob = e.blob;
          uploadedFilesLength++;
          this.progressValue =
            10 + 60 * (uploadedFilesLength / this.restoreInfo.files.length);
          const uploaded = await Group.uploadFile(createdGroup.id, e.file);
          uploadedFilesMap[uploaded.file.url] = uploaded.file;
          return uploaded.file;
        } else if (e.when == "complete") {
          e.info.todos.forEach(t => {
            t.files.forEach(f => (f.id = uploadedFilesMap[f.url].id));
            if (t.children) {
              t.children.forEach(c => {
                if (c.files) {
                  c.files.forEach(f => (f.id = uploadedFilesMap[f.url].id));
                }
              });
            }
          });
          await Group.uploadItemsBulk(createdGroup.id, e.info);
          //update group for icon image.
          if (e.info.group.iconUrl) {
            createdGroup.iconUrl = e.info.group.iconUrl;
          }
          createdGroup = await Group.uploadGroup(createdGroup);
          this.description = this.$t("group.restore.complete", createdGroup);
          this.progressValue = 100;
        }
        return "";
      });
      this.$dialog.$once("closed", () => {
        location.href = "/group/" + createdGroup.key;
      });
    },
    sendText() {
      var text = this.text;
      this.text = null;
      this.inputText = false;
      this.placeholder = null;
      this.title = null;
      this.description = null;
      this.execButton = null;
      if (this.setTextCallback) {
        this.setTextCallback(text);
        this.setTextCallback = null;
        return;
      }
      this.open = false;
      this.$dialog.$emit("closed", text);
    },
    selectTodo(todo) {
      this.open = false;
      this.$dialog.$emit("todoSelected", todo);
      this.searchWord = null;
      this.searchIgnoreTodos = [];
      this.searchedTodos = [];
    },
    async joinToGroup(group, type) {
      await Group.join(group.id, type || "MEMBER");
      //force reload for reset socket.
      location.href = "/group/" + group.key;
    },
    ok() {
      this.close(true);
    },
    checkCardInvalid() {
      if (
        !this.card.number[1] ||
        !this.card.number[2] ||
        !this.card.number[3] ||
        !this.card.number[4] ||
        !this.card.securityCode ||
        !this.card.limitMonth ||
        !this.card.limitYear
      ) {
        return true;
      }
      return false;
    },
    async loadTokenId() {
      if (this.checkCardInvalid()) {
        this.cardInvalid = true;
        return;
      }
      this.cardInfoIsWrong = false;
      Payjp.setPublicKey(this.payjsPublicKey);
      var card = {
        number:
          this.card.number[1] +
          this.card.number[2] +
          this.card.number[3] +
          this.card.number[4],
        cvc: this.card.securityCode,
        exp_month: this.card.limitMonth,
        exp_year: "20" + this.card.limitYear
      };
      this.paying = true;
      var tokenId;
      try {
        tokenId = await new Promise((res, rej) => {
          Payjp.createToken(card, (status, response) => {
            if (status === 200) {
              res(response.id);
            } else {
              rej(status);
            }
          });
        });
      } catch (e) {
        this.cardInfoIsWrong = true;
        this.paying = false;
        this.$warn(this.$t("payment.errors.cantUseCard"));
        return;
      }
      try {
        await Tenant.updatePlan({ plan: this.plan, cardTokenId: tokenId });
      } catch (e) {
        this.cardInfoIsWrong = true;
        this.paying = false;
        this.$warn(this.$t("payment.errors.cantUpdatePlan"));
        return;
      }
      this.$dialog.$emit("payment", tokenId);
      this.payment = false;
      this.plan = null;
      this.card = { number: [] };
      this.payjsPublicKey = null;
      this.cardInvalid = true;
      this.cardInfoIsWrong = false;
      this.open = false;
    },
    saveSprint() {
      const result = {
        ok: true,
        title: this.sprintTitle,
        startAt: Strings.toISOString(this.sprintStartAt),
        endAt: Strings.toISOString(this.sprintEndAt)
      };
      this.close(result);
    }
  },
  mounted() {
    this.$dialog.$on(
      "open",
      async ({
        todo,
        coverd,
        groups,
        searchTodo,
        fromTenant,
        searchIgnoreTodos,
        searchGroup,
        inputText,
        text,
        confirm,
        message,
        execButton,
        title,
        groupCreatable,
        description,
        payment,
        plan,
        cardTokenId,
        payjsPublicKey,
        htmlMessage,
        editSprint,
        sprint
      }) => {
        this.todo = todo;
        this.groups = groups;
        if (this.groups) {
          await Promise.all(
            this.groups
              .filter(g => g.iconUrl)
              .map(async g => {
                return new Promise(async res => {
                  g.iconUrlForDownload = (
                    await Group.getFileDownloadUrl(g.id, g.iconUrl)
                  ).url;
                  res();
                });
              })
          );
        }
        this.coverd = coverd == undefined ? true : coverd;
        this.searchTodo = searchTodo;
        this.fromTenant = fromTenant;
        this.searchIgnoreTodos = searchIgnoreTodos;
        this.searchGroup = searchGroup;
        this.open = true;
        this.inputText = inputText;
        this.text = text;
        this.confirm = confirm;
        this.message = message;
        this.execButton = execButton;
        this.title = title;
        this.groupCreatable = groupCreatable;
        this.description = description;
        this.payment = payment;
        this.plan = plan;
        this.payjsPublicKey = payjsPublicKey;
        this.htmlMessage = htmlMessage;
        this.editSprint = editSprint;
        this.sprint = sprint;
        if (sprint) {
          this.sprintTitle = sprint.title;
          this.sprintStartAt = Strings.toInputDateString(sprint.startAt);
          this.sprintEndAt = Strings.toInputDateString(sprint.endAt);
        } else {
          this.sprintTitle = null;
          this.sprintStartAt = null;
          this.sprintEndAt = null;
        }
        if (searchTodo) {
          setTimeout(() => document.getElementById("searchTodoInput").focus());
        } else if (inputText) {
          setTimeout(() => document.getElementById("modalInputText").focus());
        }
      }
    );
    this.$dialog.$on("close", () => this.close());
  },
  watch: {
    async searchWord(word) {
      if (!word) {
        this.searchedTodos = [];
        return;
      }
      var query = "?searchWord=" + encodeURIComponent(word);
      if (this.searchIgnoreTodos && this.searchIgnoreTodos.map) {
        const ignoreIdConcat = this.searchIgnoreTodos
          .filter(t => t.id)
          .map(t => t.id)
          .join(",");
        if (ignoreIdConcat) {
          query += "&ignoreTodoIds=" + ignoreIdConcat;
        }
      }
      if (this.fromTenant) {
        this.searchedTodos = await Tenant.searchTodo(query);
      } else {
        this.searchedTodos = await Group.searchTodo(this.searchGroup.id, query);
      }
    },
    card: {
      handler: function(attribute) {
        if (this.checkCardInvalid()) {
          this.cardInvalid = true;
        } else {
          this.cardInvalid = false;
        }
      },
      deep: true
    }
  }
};
</script>
<style scoped>
#back-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-color: black;
  z-index: 99;
}
.moveModal {
  position: fixed;
  top: 5%;
  left: 20%;
  width: 60%;
  height: 90%;
  border-radius: 3px;
  border: 1px solid #999;
  background-color: #fafafa;
  padding: 10px;
  overflow-y: scroll;
  z-index: 100;
}
.modalTitle {
  position: relative;
}
.moveModal.inputText {
  height: 150px;
  top: calc(50% - 75px);
}
.moveModal.inputTextWithDescription,
.moveModal.editSprint {
  height: 200px;
}
.moveModal.confirm {
  height: 150px;
  top: calc(50% - 75px);
  width: 40%;
  left: 30%;
}
.moveModal > i {
  position: absolute;
  top: 15px;
  right: 10px;
}
.moveModal i:hover {
  cursor: pointer;
}
.group-name {
  line-height: 44px;
  vertical-align: middle;
  font-size: 20px;
  margin-left: 10px;
  float: left;
}
.group-img,
.group-img > svg {
  width: 44px;
  height: 44px;
  float: left;
}
.group_add_button {
  width: 44px;
  height: 44px;
  line-height: 44px;
  font-size: 30px;
  border-radius: 5px;
  background-color: #ddd;
  margin: 0;
}
.searched-todo {
  border: 1px solid #ddd;
  margin-bottom: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.searched-todo:hover {
  background-color: #eee;
  cursor: pointer;
}
.modal-footer {
  border-radius: 0 0 2px 2px;
  padding: 4px 6px;
  height: 56px;
  width: 100%;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 10px;
}
.card-number {
  width: 50px !important;
  border: 1px solid #ccc !important;
}
select {
  font-size: 12px !important;
  width: initial;
  height: 18px !important;
  padding: 2px !important;
  display: initial;
}
.invalid {
  color: #f33;
}
</style>