<template>
  <div class="row">
    <h2>{{$t("todo.search")}}</h2>
    <div class="row">
      <div class="col s8">
        <input-text id="searchInput" @keypress="changeInput" v-model="searchWord" icon="search" />
      </div>
      <div class="col s4">
        <input-select
          class="col s12"
          v-if="sprints && sprints.length > 0"
          :label="$t('sprint')"
          :candidates="sprints.map(s => s.title)"
          v-model="sprintTitle"
          :allow-empty="true"
          :disabled="false"
          id="selectSprint"
        ></input-select>
      </div>
      <div class="col s4">
        <account-select
          v-if="group"
          id="personnels"
          :source-accouts="group.members"
          v-model="personnels"
          multiple="true"
          :label="$t('todo.personnels')"
          :buttonLabel="$t('appends')"
          @selected="pushPersonnels"
          @disselected="disselectPersonnel"
        />
      </div>
      <div class="col s4">
        <input-text
          id="point"
          only-int="true"
          class="col s12"
          style="margin-top:15px"
          v-model="point"
          :label="$t('todo.point')"
          labelActive="true"
        />
      </div>
    </div>
    <div class="row" v-if="group && group.customAttributes">
      <input-custom-attribute-value
        v-for="(customAttribute, index) in group.customAttributes"
        :id="'customInput_'+index"
        class="col s4"
        :key="customAttribute.id"
        :custom-attribute="customAttribute"
        :custom-attribute-value="customAttributeValues[index]"
        :disabled="false"
        :allow-empty="true"
        @input-string="val => customAttributeValues[index] = {stringValue :val}"
        @input-int="val => customAttributeValues[index] = {intValue : val}"
        @input-date="val => customAttributeValues[index] = {dateValue : val}"
      />
    </div>
    <div class="row">
      <div class="col s5"></div>
      <button id="searchButton" class="waves-effect waves-light btn col s2" @click="search">
        {{$t("search")}}
        <i class="material-icons left">search</i>
      </button>
      <div class="col s5"></div>
    </div>
    <div class="row todo-list-pane">
      <div class="box_title">{{$t("todo.todo")}}</div>
      <div class="box" v-for="todo in todos" :key="todo.id">
        <todo-for-list
          class="todo"
          :todo="todo"
          :group="group"
          @todo-clicked="openTodo(todo)"
          :hideHandle="true"
        />
      </div>
    </div>
  </div>
</template>
<script>
import InputText from "./InputText";
import InputCustomAttributeValue from "./InputCustomAttributeValue";
import InputSelect from "./InputSelect";
import AccountSelect from "./AccountSelect";
import Todo from "./Todo";
import TodoForList from "./TodoForList";
import * as Group from "../js/model/Group";
import * as SprintBar from "../js/model/SprintBar";
export default {
  components: {
    InputText,
    InputCustomAttributeValue,
    InputSelect,
    AccountSelect,
    Todo,
    TodoForList
  },
  props: ["groupId"],
  data() {
    return {
      group: null,
      customAttributeValues: null,
      sprints: [],
      sprintTitle: null,
      personnels: [],
      todos: [],
      searchWord: "",
      point: null
    };
  },
  methods: {
    changeInput() {
      this.search();
    },
    pushPersonnels(account) {
      this.personnels.push(account);
    },
    disselectPersonnel(account) {
      this.personnels = this.personnels.filter(a => a.id != account.id);
    },
    sprintToName(sprint) {
      var sp = this.sprints.find(s => s && sprint && s.id == sprint.id);
      return sp ? sp.name : "";
    },
    async search() {
      var query = "?q";
      if (this.searchWord) {
        query += "&searchWord=" + encodeURIComponent(this.searchWord);
      }
      if (this.sprintTitle) {
        query += "&sprint=" + encodeURIComponent(this.sprintTitle);
      }
      if (this.point) {
        query += "&point=" + encodeURIComponent(this.point);
      }
      if (this.personnels.length > 0) {
        query += "&personnels=" + this.personnels.map(a => a.name).join(",");
      }
      this.customAttributeValues.forEach((c, index) => {
        var value = c.stringValue || c.intValue || c.dateValue;
        if (value) {
          var customTitle = this.group.customAttributes[index].title;
          query +=
            "&custom." +
            encodeURIComponent(customTitle) +
            "=" +
            encodeURIComponent(value);
        }
      });
      window.history.pushState(null, null, location.pathname + query);
      this.todos = await Group.searchTodo(this.group.id, query);
    },
    openTodo(todo) {
      this.$router.push("/group/" + this.group.key + "/ticket/" + todo.key);
    }
  },
  async beforeMount() {
    this.sprints = await SprintBar.loadSprintBar(this.groupId);
    this.group = await Group.loadGroup(this.groupId);
    if (this.group.customAttributes) {
      this.group.customAttributes = this.group.customAttributes.sort(
        (c1, c2) => c1.order - c2.order // is shows collect but sort description order is may c"2"- c"1". i don't now way.
      );
      this.customAttributeValues = this.group.customAttributes.map(c => {
        return {};
      });
    }
    if (
      !window.location.search ||
      window.location.search.length == "?q".length
    ) {
      return;
    }
    window.location.search
      .split("&")
      .map(q => q.split("="))
      .forEach(kv => {
        if (kv[0] == "searchWord") {
          this.searchWord = decodeURIComponent(kv[1]);
        } else if (kv[0] == "sprint") {
          this.sprintTitle = decodeURIComponent(kv[1]);
        } else if (kv[0] == "point") {
          this.point = decodeURIComponent(kv[1]);
        } else if (kv[0] == "personnels") {
          var names = kv[1].split(",").map(n => decodeURIComponent(n));
          this.personnels = names.map(n =>
            this.group.members.find(m => m.name == n)
          );
        } else if (kv[0].indexOf("custom.") == 0) {
          var customAttributeTitle = decodeURIComponent(kv[0].split(".")[1]);
          var index = this.group.customAttributes.findIndex(
            c => c.title == customAttributeTitle
          );
          var value = decodeURIComponent(kv[1]);
          this.customAttributeValues[index] = {
            stringValue: value,
            intValue: value,
            dateValue: value
          };
        }
      });
    this.search();
  }
};
</script>
<style scoped>
.search-icon {
  margin-left: -40px;
  margin-top: 5px;
}
.box {
  width: 100%;
}
</style>>
