<template>
  <div>
    <h2>{{$t("tenant.tenant")}}</h2>
    <div>
      <div class="row">
        <div class="row">
          <input-text
            id="key"
            class="col s12"
            :value="tenant.key+'.'+baseDomain()"
            disabled="disabled"
            :label="$t('tenant.key')"
          />
        </div>
        <div class="row">
          <div class="col s12">
            <div>
              <label class="alwaysactive">{{$t("plan.title")}}</label>
            </div>
            <router-link
              class="to-buy-plan"
              v-if="plan.editable"
              to="/space/plan"
            >{{toPlanName(plan.plan)}}</router-link>
            <span v-if="!plan.editable">{{toPlanName(plan.plan)}}</span>
          </div>
        </div>
        <div class="row">
          <input-text
            id="accessibleIpRanges"
            class="col s10"
            style="margin-bottom:0"
            labelActive="true"
            v-model="tenant.accessibleIpRanges"
            @input="isIPNotEdited = false"
            :label="$t('tenant.accessibleIpRanges')"
            :invalid="isInvalidAccessibleIpRanges"
            :invalidMessage="$t('tenant.ipIsNotInRangeError', yourIp)"
            placeholder="192.168.10.0/24, 2001:cdba::3257:9652"
          />
          <button
            class="col s2 waves-effect waves-light btn"
            style="margin-bottom:0"
            @click="saveAccessibleIPRanges"
            :disabled="isIPNotEdited"
          >{{$t("save")}}</button>
          <div class="col s12 input-description">{{$t("tenant.accessibleIpRangesExceptWebhook")}}</div>
        </div>
        <div class="row"></div>
        <div class="row">
          <div class="col s12">
            <router-link to="/file">{{$t("file.maintenance")}}</router-link>
          </div>
        </div>
        <hr />
        <div class="row"></div>

        <div class="row">
          <div id="newEmail">
            <input-text
              type="email"
              v-model="newMail"
              class="col s6"
              style="margin-bottom: 0"
              :label="$t('tenant.appendsMember')"
              :invalid="isInvalidNewMail"
            />
            <button
              class="col s2 waves-effect waves-light btn"
              @click="registMember"
              :disabled="saving || isInvalidNewMail"
            >{{$t("tenant.invite")}}</button>
            <div class="col s2"></div>
            <div
              class="col s12 input-description"
            >{{$t("tenant.accountCountLimit", {limit: tenant.accountCountLimit || 5})}}</div>
          </div>
          <div class="box wide-box">
            <div
              class="box_title"
            >{{$t('tenant.member')}}({{notRejectedMemberLength}}/{{tenant.accountCountLimit || 5}})</div>
            <div>
              <table v-if="members" style="width:100%">
                <thead>
                  <tr>
                    <th
                      v-for="(title, titleIndex) in [$t('account.name'),$t('account.mail'), $t('account.role')]"
                      :key="titleIndex"
                    >{{title}}</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(member, index) in members" :key="index">
                    <td>{{member.name}}</td>
                    <td>{{member.mail}}</td>
                    <td>
                      <div v-if="member.id == selfAccount.id">{{$t("tenant.roles."+member.role)}}</div>
                      <div v-else-if="member.role == 'INVITER'">
                        <div class="col s6">{{$t("tenant.roles."+member.role)}}</div>
                        <button
                          style="margin-left:10px;"
                          class="waves-effect waves-light btn"
                          @click="deleteNotJoin(member)"
                        >{{$t("delete")}}</button>
                      </div>
                      <div class="input-field role-select col s6" v-else>
                        <select @change="roleChanged(member)" v-model="member.role">
                          <option value disabled :selected="!member.role">{{$t("account.role")}}</option>
                          <option
                            value="OWNER"
                            :selected="member.role=='OWNER'"
                          >{{$t("tenant.roles.OWNER")}}</option>
                          <option
                            value="MEMBER"
                            :selected="member.role=='MEMBER'"
                          >{{$t("tenant.roles.MEMBER")}}</option>
                          <option
                            disabled
                            :selected="member.role=='INVITER'"
                          >{{$t("tenant.roles.INVITER")}}</option>
                          <option
                            disabled
                            value="REQUESTER"
                            :selected="member.role=='REQUESTER'"
                          >{{$t("tenant.roles.REQUESTER")}}</option>
                          <option
                            value="REJECTOR"
                            :selected="member.role=='REJECTOR'"
                          >{{$t("tenant.roles.REJECTOR")}}</option>
                        </select>
                        <label></label>
                      </div>
                      <button
                        v-if="member.role == 'REQUESTER'"
                        style="margin-left:10px;"
                        class="waves-effect waves-light btn"
                        @click="deleteNotJoin(member)"
                      >{{$t("delete")}}</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div v-if="!members || members.length == 0">{{$t('group.nomember')}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import * as Account from "../js/model/Account";
import * as Tenant from "../js/model/Tenant";
import * as Strings from "../js/util/Strings";
import InputText from "./InputText";
import InputSelect from "./InputSelect";

export default {
  components: {
    InputText,
    InputSelect
  },
  data() {
    return {
      tenant: {},
      selfAccount: {},
      newMail: "",
      isInvalidNewMail: false,
      members: [],
      saving: false,
      roleCandidate: Object.values({
        OWNER: "OWNER",
        MEMBER: "MEMBER",
        REQUESTER: "REQUESTER",
        INVITER: "INVITER",
        REJECTOR: "REJECTOR"
      }),
      disselectableRoleCandidate: ["REQUESTER", "INVITER"],
      isInvalidAccessibleIpRanges: false,
      yourIp: null,
      isIPNotEdited: true,
      notRejectedMemberLength: 0,
      plan: {}
    };
  },
  methods: {
    baseDomain() {
      return Strings.baseDomain(location.host);
    },
    toPlanName(planId) {
      if ("standard" == planId) {
        return "Standard";
      } else if ("premium" == planId) {
        return "Premium";
      } else {
        return "Free";
      }
    },
    isMail(mail) {
      return Strings.isMail(mail);
    },
    async deleteNotJoin(member) {
      await Tenant.deleteNotJoin(member);
      this.members = this.members.filter(a => a.id != member.id);
    },
    async roleChanged(member) {
      try {
        await Tenant.putMember(member);
      } catch (e) {
        if (e.message && e.message.indexOf("507") > 0) {
          this.$warn(this.$t("tenant.errors.accountLimitOver"));
        } else {
          this.$warn(this.$t("tenant.errors.roleChangeFail"));
        }
        await this.initTenantInfo();
      }
      this.notRejectedMemberLength = this.members.filter(
        a => a.role != "REJECTOR"
      ).length;
    },
    async registMember() {
      if (!this.isMail(this.newMail)) {
        this.isInvalidNewMail = true;
        return;
      }
      if (this.members.some(m => m.mail == this.newMail)) {
        this.isInvalidNewMail = true;
        return;
      }
      this.isInvalidNewMail = false;
      this.saving = true;
      setTimeout(async () => {
        try {
          var relation = await Tenant.putMember({ mail: this.newMail });
          relation.account.role = relation.role;
          this.members.push(relation.account);
          this.newMail = null;
        } catch (e) {
          this.isInvalidNewMail = true;
          this.$warn(this.$t("tenant.errors.inviteFail"));
        }
        this.saving = false;
      });
    },
    async saveAccessibleIPRanges() {
      try {
        this.isInvalidAccessibleIpRanges = false;
        await Tenant.saveAccessibleIPRanges({
          accessibleIpRanges: this.tenant.accessibleIpRanges
        });
        this.isIPNotEdited = true;
      } catch (e) {
        this.isInvalidAccessibleIpRanges = true;
        this.yourIp = e.response.data;
      }
    },
    async initTenantInfo() {
      this.selfAccount = await Account.getAccount();
      this.tenant = await Tenant.loadTenant();
      this.plan = await Tenant.loadCurrentPlan();
      this.members = this.tenant.relations.map(r => {
        r.account.role = r.role;
        return r.account;
      });
    }
  },
  beforeMount: async function() {
    try {
      await this.initTenantInfo();
    } catch (e) {
      this.$router.push("/");
    }
  },
  watch: {
    members(m) {
      if (m && m.length > 0) {
        setTimeout(() => {
          var elems = document.querySelectorAll("select");
          M.FormSelect.init(elems);
        });
        this.notRejectedMemberLength = m.filter(
          a => a.role != "REJECTOR"
        ).length;
      }
    },
    newMail(m) {
      if (!m) {
        return;
      }
      this.isInvalidNewMail =
        !this.isMail(this.newMail) ||
        this.members.some(
          m => m.mail.toLowerCase() == this.newMail.toLowerCase()
        ) ||
        this.members.filter(a => a.role != "REJECTOR").length >=
          (this.tenant.accountCountLimit || 5);
    }
  }
};
</script>
<style scoped>
th {
  padding: 0 10px;
}

.wide-box {
  width: 100%;
  overflow: visible;
}
.role-select {
  overflow: visible;
}
#newEmail .input-field {
  height: 31px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
#newEmail button {
  height: 31px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-description {
  font-size: 10px;
  color: #9e9e9e;
}
select {
  width: initial;
}
</style>