<template>
  <div>
    <h2>{{$t("tenant.systemMaintenance")}}</h2>
    <div class="box wide-box">
      <div class="box_title">{{$t('tenant.tenant')}}</div>
      <div>
        <table v-if="tenants" style="width:100%">
          <thead>
            <tr>
              <th
                v-for="(title, titleIndex) in [$t('tenant.key'),$t('tenant.totalFileSize'),$t('tenant.group'),$t('tenant.member')]"
                :key="titleIndex"
              >{{title}}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(tenant, index) in tenants" :key="index">
              <td>{{tenant.key}}</td>
              <td>
                {{(tenant.fileSize || 0 ) | addComma}} /
                <input
                  type="number"
                  :value="tenant.fileSizeLimit"
                  @input="change($event,'fileSizeLimit', tenant)"
                />
              </td>
              <td>
                {{tenant.groupCount | addComma}} /
                <input
                  type="number"
                  :value="tenant.groupCountLimit"
                  @input="change($event,'groupCountLimit', tenant)"
                />
              </td>
              <td>
                {{tenant.accountCount | addComma}} /
                <input
                  :value="tenant.accountCountLimit"
                  @input="change($event,'accountCountLimit', tenant)"
                />
              </td>
              <td>
                <button
                  class="waves-effect waves-light btn col s12"
                  @click="save(tenant)"
                  :disabled="!tenant.changed"
                >{{$t("save")}}</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
<script>
import * as Tenant from "../js/model/Tenant";
export default {
  data() {
    return {
      tenants: []
    };
  },
  methods: {
    async save(tenant) {
      await Tenant.updateLimits(tenant);
      tenant.changed = false;
      this.$forceUpdate();
    },
    change($event, key, tenant) {
      tenant[key] = $event.target.value;
      tenant.changed = true;
      this.$forceUpdate();
    }
  },
  async created() {
    try {
      this.tenants = await Tenant.loadAll();
      this.tenants.forEach(t => (t.changed = false));
    } catch (ignore) {
      this.$router.push("/");
    }
  }
};
</script>
<style scoped>
input {
  font-size: 14px;
  width: inherit !important;
}
</style>
