<template>
  <div>
    <router-link v-if="todo.parent" :to="todoUrl(todo.parent)">
      <span class="key">{{todo.parent.key}}</span>
    </router-link>
    <i
      v-if="todo.parent && editable"
      class="material-icons btn-floating btn-small waves-effect waves-light delete-parent"
      @click="$emit('delete-parent')"
    >close</i>
    <span v-if="todo.parent" class="parent-child-separator">&gt;</span>
    <router-link v-if="todo.key" :to="todoUrl()">
      <span class="key">{{todo.key}}</span>
    </router-link>
    <i v-if="todo.key" class="material-icons copy-link" @click="copyLink">content_copy</i>
    <span
      v-if="hasClipboardItem()"
      class="copied-label"
      :class="{'show':show}"
    >{{$t("todo.linkCopyed")}}</span>
  </div>
</template>
<script>
export default {
  props: ["todo", "group", "editable"],
  data() {
    return { show: false };
  },
  methods: {
    hasClipboardItem() {
      return !!ClipboardItem;
    },
    todoUrl(todo) {
      if (!todo) {
        todo = this.todo;
      }
      var groupIdOrKey =
        (this.group && this.group.id == todo.groupId && this.group.key) ||
        todo.groupId;
      var todoIdOrKey = todo.key || todo.id;
      if (groupIdOrKey) {
        return `/group/${groupIdOrKey}/ticket/${todoIdOrKey}`;
      } else {
        return `/ticket/${todoIdOrKey}`;
      }
    },
    copyLink(event) {
      var linkUrl = `${location.protocol}//${location.host}/group/${this.todo
        .groupId || this.todo.group.key}/ticket/${this.todo.key}`;
      var text;
      if (event.shiftKey && (event.ctrlKey || event.metaKey)) {
        text = `[${this.todo.key}](${linkUrl}) ${this.todo.title}`;
      } else if (event.ctrlKey || event.metaKey) {
        text = this.todo.key;
      } else {
        text = `${this.todo.key} ${this.todo.title}`;
      }
      var html = `<a href="${linkUrl}">${this.todo.key}</a>&nbsp;${this.todo.title}`;
      const blob = new Blob([text], {
        type: "text/plain"
      });
      const item = new ClipboardItem({
        "text/plain": blob
      });
      navigator.clipboard.write([item]);
      this.show = true;
      setTimeout(() => {
        this.show = false;
      }, 1000);
    }
  }
};
</script>
<style scoped>
.delete-parent {
  font-size: 6px;
  margin-top: -3px;
  width: 10px;
  height: 10px;
}
.parent-child-separator {
  margin-left: 5px;
}
.key {
  font-size: 10px;
  font-weight: bold;
  color: var(--main-color);
}
.copy-link {
  margin-left: 5px;
  font-size: 10px;
  line-height: 10px;
  user-select: none;
}
.copy-link:hover {
  cursor: pointer;
}
.copied-label {
  background-color: var(--main-color);
  border-radius: 3px;
  color: var(--main-front-color);
  font-size: 10px;
  line-height: 10px;
  padding-left: 3px;
  padding-right: 3px;
  opacity: 0;
  transition: all 0.5s ease-out;
}
.copied-label.show {
  opacity: 1;
  display: inline;
}
</style>