<template>
  <div :draggable="draggable" class="todo-area">
    <div
      class="todo"
      @click="todoClicked($event, todo)"
      :class="{'selecting': todo.id == selectingId}"
      @contextmenu.prevent="$emit('contextmenu')"
    >
      <div class="item_header">
        <div class="key" v-if="todo.key">{{todo.key}}</div>
        <div class="point" v-if="todo.point || todo.point == 0">{{todo.point}}pt</div>
        <div class="limit" v-if="todo.limitedAt">〜{{todo.limitedAt | date($t("dateformat"))}}</div>
        <div v-if="todo.personnels && todo.personnels[0]" class="personnel">
          <i class="large material-icons">chevron_right</i>
          <img
            v-if="todo.personnels[0].iconUrl"
            :src="todo.personnels[0].iconUrl"
            class="icon_image"
          />
          <span>{{todo.personnels[0].name}}{{todo.personnels.length > 1 ? "...": ""}}</span>
        </div>
        <div v-if="todo.from && todo.from.name" class="from">
          <img v-if="todo.from.iconUrl" :src="todo.from.iconUrl" class="icon_image" />
          <span>{{todo.from.name}}</span>
        </div>
      </div>
      <div class="title">{{todo.title}}</div>
      <div class="progress-area">
        <editable-progress
          id="progress"
          :value="todoProgress"
          :disabled="true"
          style="margin-bottom: 0;"
        />
      </div>
      <div class="openChildButton" v-if="false && todo.children && todo.children.length > 0">
        <i class="material-icons">group</i>
      </div>
      <div v-if="!hideHandle" class="open-todo-handle" @click="todoToggleClicked($event, todo)">
        <i class="material-icons">input</i>
      </div>
      <div class="row custom-attribute-area" v-if="group">
        <div class="col s6">
          <input-custom-attribute-value
            v-for="(customAttribute, index) in group.customAttributes"
            :id="'customInput_'+index"
            :key="customAttribute.id"
            :custom-attribute="customAttribute"
            :custom-attribute-value="todo.customAttributeValues[index]"
            :disabled="true"
            @input-string="val => todo.customAttributeValues[index].stringValue = val"
            @input-int="val => todo.customAttributeValues[index].intValue = val"
            @input-date="val => todo.customAttributeValues[index].dateValue = val"
          />
        </div>
      </div>
    </div>
    <div
      v-if="todo.children && todo.children.length > 0"
      :class="{'children-area-show': showChildren}"
      class="children-pane"
    >
      <div class="child-span"></div>
      <div
        class="children-area"
        v-for="(childTodo, index) in todo.children"
        :key="index"
        @click="todoClicked($event, childTodo)"
        :class="{'selecting': childTodo.id == selectingId}"
        @contextmenu.prevent="$emit('child-contextmenu', childTodo)"
      >
        <span class="todo-key-in-child">{{childTodo.key}}</span>
        <span>{{getChildTodoTitle(childTodo)}}</span>
        <span v-if="childTodo.progress">{{$t("todo.progress")}}{{childTodo.progress}}%</span>
        <span v-if="!childTodo.progress">{{$t("todo.noProgress")}}</span>
      </div>
    </div>
  </div>
</template>
<script>
import EditableProgress from "./EditableProgress";
import InputCustomAttributeValue from "./InputCustomAttributeValue";
import ContextMenu from "vue-context-menu";
const TodoType = {
  // copy from "../../../app/server/model/Todo"
  MEMBER_TODO_PARENT: "member_todo_parent",
  MEMBER_TODO_CHILD: "member_todo_child",
  CHILD: "child"
};
function childProgressAvr(todo) {
  // copy from "../../../app/server/model/Todo"
  var childProgressAvr =
    todo.children.map(c => c.progress || 0).reduce((sum, cur) => sum + cur) /
    todo.children.length;
  return Math.ceil(childProgressAvr);
}
export default {
  components: { EditableProgress, InputCustomAttributeValue, ContextMenu },
  props: ["todo", "draggable", "group", "hideHandle", "selectingId"],
  data() {
    return {
      showChildren: false
    };
  },
  computed: {
    todoProgress() {
      if (this.todo.progress) {
        return this.todo.progress;
      }
      if (this.todo.children && this.todo.children.length > 0) {
        return childProgressAvr(this.todo);
      }
      return 0;
    }
  },
  methods: {
    todoClicked($event, todo) {
      if (event.isOpenTodoEmitted) {
        return;
      }
      this.$emit("todo-clicked", todo);
    },
    getChildTodoTitle(childTodo) {
      if (childTodo.type == "member_todo_child") {
        return childTodo.personnels && childTodo.personnels[0]
          ? childTodo.personnels[0].name
          : "";
      } else {
        return childTodo.title;
      }
    },
    todoToggleClicked($event, todo) {
      this.$emit("todo-toggle-clicked", todo);
      $event.isOpenTodoEmitted = true;
    },
    refleshCustomAttribute() {
      if (this.group && this.group.customAttributes) {
        this.group.customAttributes.sort((a, b) => a.order - b.order);
        if (!this.todo.customAttributeValues) {
          this.todo.customAttributeValues = [];
        }
        this.todo.customAttributeValues = this.group.customAttributes.map(
          gc =>
            this.todo.customAttributeValues.find(
              c => c && c.customAttribute && c.customAttribute.id == gc.id
            ) || { customAttribute: gc, todoId: this.todo.id }
        );
      }
    }
  }
};
</script>
<style scoped>
.todo-area {
  border-bottom: 1px solid #ddd;
}
.todo {
  padding: 10px;
  position: relative;
  transition: all 0.2s ease-out;
  border-left: var(--main-color) solid 0;
}

.todo:hover {
  transition: background-color 0.2s ease-out;
  background-color: #f9f9f9;
  cursor: pointer;
}

.todo > .item_header {
  font-size: 10px;
}

.todo > .item_header:after {
  content: "";
  clear: both;
  display: block;
}

.todo > .item_header > .todo-handler {
  float: right;
}
.todo > .item_header > .key,
.todo-key-in-child {
  float: left;
  font-weight: bold;
  color: var(--main-color);
  margin-right: 5px;
}
.todo-key-in-child {
  padding-top: 4px;
  font-size: 10px;
}
.todo > .item_header > .point {
  float: left;
  margin-right: 5px;
}

.todo > .item_header > .limit {
  margin-left: 10px;
  float: right;
}

.todo > .item_header > .personnel {
  margin-left: 10px;
  float: right;
}

.todo > .item_header > .personnel > i {
  font-size: 10px;
  margin-right: 5px;
  margin-top: 0;
}

.todo > .item_header > .from {
  float: right;
}
.todo .child-span {
  border-bottom: 1px solid #eee;
  margin: 10px 0;
}
.progress-area {
  width: 95%;
}
.openChildButton {
  display: none;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.open-todo-handle {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #ccc;
}
.open-todo-handle:hover {
  transition: color 0.2s ease-out;
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #999;
}
.custom-attribute-area {
  margin-top: 1rem;
}
.selecting {
  border-left: var(--impressive-color) solid 5px;
}
.children-area {
  cursor: pointer;
  padding: 5px 10px;
  background-color: white;
}
.icon_image {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  vertical-align: middle;
}
</style>